   <footer id="footer">
	 <div class="container">
        <p class="pull-right"><a href="index.aspx" title="EGEL"><img src="/img/logo-edwards-footer.png" class="img-responsive center-block" alt="Edwards EGEL"></a></p>
        	<ul class="nav social extramargin">
            <li class="footer-follow">Follow Edwards On:</li>
            <li><a href="https://twitter.com/edwardslifesci" title="Twitter"><span class="icon-twitter"></span></a></li>
            <li><a href="https://www.linkedin.com/company/edwards-lifesciences" title="LinkedIn"><span class="icon-linkedin2"></span></a></li>
            <li><a href="https://www.youtube.com/user/EdwardsGlobal" title="youtube"><span class="icon-youtube"></span></a></li>
            </ul>
            
         
            <ul class="nav nav-pages small">
            <li><a href="http://www.edwards.com/legal/privacypolicy" target="_blank">Privacy policy</a></li>
            <li><a href="http://www.edwards.com/legal/legalterms" target="_blank">Legal terms</a></li>
            <li><a href="sitemap.aspx">Site map</a></li>
            </ul>
            <p class="small">&copy; <script>document.write(new Date().getFullYear())</script> Edwards Lifesciences Corporation. <span class="block-xs">All rights reserved.</span></p>
        	<div class="clearfix"></div>
        </div>
   </footer>