﻿
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WMKW5FD"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

 <header id="header">
    <nav class="navbar navbar-default navbar-edw">
      <div class="container">
        <div class="row">
          <div class="navbar-header">
            <button type="button" class="edw-mobile-menu navbar-toggle collapsed" data-toggle="collapse" data-target="#edw-menu" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="edw-logo" href="index.aspx"><img src="/img/logo-edwards.png" width="80" height="105" class="img-responsive" alt="EGEL" /></a> 
            
            </div>
     
          <div class="navbar-collapse collapse" id="edw-menu" >
          <ul class="edw-menu">
            <li class="dropthis hidden"><a href="javascript:void(0);">About this site</a>
              <div class="edw-submenu submenu-sm">
              <ul>
                <li><a href="#">What is this site?</a></li>
                <li><a href="#">How to use this site</a></li>
                <li><a href="#">Our philosophy</a></li>
                <li><a href="#">Our team</a></li>
              </ul>
              </div>
            </li>
            
             <li class="dropthis"><a href="javascript:void(0);">Corporate standards<span class="glyphicon glyphicon-menu-down"></span></a>
            <div class="edw-submenu submenu-sm multi-menu business-menu">
         <div class="row multi-menu">
           <div class="col-sm-6">
                    <ul>
                <li class="title"><a href="/contents.aspx">Brand identity standards</a></li>
                <li><a href="/contents.aspx">Contents</a></li>
                <li><a href="/elements.aspx">Basic elements</a></li>
                <li><a href="/print-covers.aspx">Print collateral</a></li>
                <li><a href="/ads-single.aspx">Advertising</a></li>
                <li><a href="/dig-websites.aspx">Digital media</a></li>
                <li><a href="/env-banners.aspx">Environmental graphics</a></li>
                <li><a href="/pat-color.aspx">Patient awareness</a></li>
                <li><a href="/pdf/Edwards_Brand_Identity_Standards_V2_25Oct2016.pdf" target="_blank">Download U.S. guidelines <span class="icon-download"></span></a></li>
                <li><a href="/pdf/Edwards_Brand_Identity_Standards_V2_Metric_25Oct2016.pdf" target="_blank">Download metric guidelines <span class="icon-download"></span></a></li>
              </ul>
              </div>
              
                <div class="col-sm-6"><ul>   
                        <li class="title"><a href="/facilities/index.aspx">Facilities standards</a></li>
             
                
                <li><a href="/facilities/exterior.aspx">Exterior</a></li>
                <li><a href="/facilities/interior.aspx">Interior</a></li>
                <li><a href="/facilities/culture.aspx">Edwards culture</a></li>
                <li><a href="/facilities/public.aspx">Edwards humanity</a></li>
                <li><a href="/facilities/corp-policy-statements.aspx">Corporate policy statements</a></li>
                <li><a href="/facilities/corp-initiatives.aspx">Corporate initiatives</a></li>
                <li><a href="/facilities/mural.aspx">Life is Now</a></li>
                <li><a href="/facilities/department-signage.aspx">Department signage</a></li>
                <li><a href="/facilities/internal-comm.aspx">Internal communication</a></li>
                <li><a href="/facilities/display-specs.aspx">Display specifications</a></li>
                <li><a href="/facilities/brand-standards.aspx">Branding standards</a></li>
                <li><a href="/facilities/facilities-standards.aspx">Color</a></li>
                <li><a href="/facilities/assets/Edwards Lifesciences Standards Manual 8-16-18.xlsx">Facilities resource guide <span class="icon-download"></span></a></li>

              </ul>
              </div>  </div>  </div>

              
              
              

            </li>
            
            
            

         
            
             <li class="dropthis"><a href="javascript:void(0);">Business unit brand standards<span class="glyphicon glyphicon-menu-down"></span></a>
         <div class="edw-submenu submenu-sm multi-menu business-menu" style="width: auto">
         <div class="row multi-menu" style="width: auto">
           <div class="col-sm-12"><ul>
                <li class="title"><a href="/surg/index.aspx">Surgical Structural Heart</a></li>
                <li><a href="/surg/intro.aspx">Contents</a></li>
                <li><a href="/surg/pro-edu.aspx">Tier 1 brand books</a></li>
                <li><a href="/surg/transforming-tomorrow.aspx">Tier 2 brand books</a></li>
                <li><a href="/surg/inspiris.aspx">Tier 3 brand books</a></li>
                </ul>
                </div>
            </div>  </div>

            </li>    
                
            
               <li><a href="http://toolkit.edwards.com" target="_blank">Digital toolkit</a>
       
            </li>
     
             <li class="dropthis"><a href="javascript:void(0);">Digital assets<span class="glyphicon glyphicon-menu-down"></span></a>
         <div class="edw-submenu submenu-sm">
           <ul>
                <li><a href="/elements-image-library.aspx">Corporate image library</a></li>
                <li><a href="https://edwards.webdamdb.com">WebDam</a></li>
              </ul>
              	</div>
            </li>            
            
          </ul>
          </div>
        </div>
      </div>

    </nav>
  </header>
  <!-- / #header -->