﻿<div class="panel-group" id="submenu-accordion">
  	<!--<div class="panel panel-default">
  <div class="panel-heading"><a href="#vision-submenu" data-toggle="collapse" class="submenulink accordion-toggle" data-parent="#submenu-accordion">Our employer brand vision</a></div>

  <ul class="list-group panel-collapse collapse" id="vision-submenu">
    <li class="list-group-item"><a href="/hr/intro.aspx" class="hr-intro">Introduction</a></li>
  </ul>
  </div> -->
  
  
  
  	<div class="panel panel-default">
   <div class="panel-heading"><a href="#library-submenu" data-toggle="collapse" class="submenulink accordion-toggle" data-parent="#submenu-accordion">Photo & video library</a></div>

  <!-- List group -->
 <ul class="list-group panel-collapse collapse" id="library-submenu">
    <li class="list-group-item"><a href="/hr/photos.aspx" class="hr-photos">Photos</a></li>
    <li class="list-group-item"><a href="/hr/videos.aspx" class="hr-videos">Videos</a></li>
  </ul> 
  
  </div>
  
  
  	<div class="panel panel-default">
  
  <div class="panel-heading"><a href="#print-submenu" data-toggle="collapse" class="submenulink accordion-toggle" data-parent="#submenu-accordion">Print collateral</a></div>


  <!-- List group -->
 <ul class="list-group panel-collapse collapse" id="print-submenu">
 <li class="list-group-item"><a href="/hr/flyers.aspx" class="hr-flyers">Flyers & handshake cards</a></li>
    <li class="list-group-item"><a href="/hr/booklets.aspx" class="hr-booklets">Booklets & brochures</a></li>
    <li class="list-group-item"><a href="/hr/displays.aspx" class="hr-displays">Banner stands & event displays</a></li>
    <li class="list-group-item"><a href="/hr/printads.aspx" class="hr-printads">Print ads</a></li>
    <li class="list-group-item"><a href="/hr/outdoor.aspx" class="hr-outdoor">Outdoor advertising</a></li>
    <li class="list-group-item"><a href="/hr/cardart.aspx" class="hr-cardart">Print-ready handshake card art</a></li>
  </ul> 
  </div>
  
  
  	<div class="panel panel-default">
 
  <div class="panel-heading"><a href="#digital-submenu" data-toggle="collapse" class="submenulink accordion-toggle" data-parent="#submenu-accordion">Digital collateral</a></div>

  <!-- List group -->
 <ul class="list-group panel-collapse collapse" id="digital-submenu">
    <li class="list-group-item"><a href="/hr/banner-ads.aspx" class="hr-bannerads">Banner ads</a></li>
  </ul> 

</div>



  	<div class="panel panel-default">
 
  <div class="panel-heading"><a href="#tutorial-submenu" data-toggle="collapse" class="submenulink accordion-toggle" data-parent="#submenu-accordion">Tutorial & FAQs</a></div>

  <!-- List group -->
 <ul class="list-group panel-collapse collapse" id="tutorial-submenu">
    <li class="list-group-item"><a href="/hr/tutorial.aspx" class="hr-tutorial">Tutorial decks</a></li>
    <li class="list-group-item"><a href="/hr/faq.aspx" class="hr-faq">Frequently asked questions</a></li>
    <li class="list-group-item"><a href="/hr/processes.aspx" class="hr-processes">Processes</a></li>
  </ul> 

</div>

  	<div class="panel panel-default">
 
  <div class="panel-heading"><a href="#article-submenu" data-toggle="collapse" class="submenulink accordion-toggle" data-parent="#submenu-accordion">Article archive</a></div>

  <!-- List group -->
 <ul class="list-group panel-collapse collapse" id="article-submenu">
    <li class="list-group-item"><a href="/hr/articles.aspx" class="hr-articles">Article archive</a></li>
  </ul> 

</div>


  
</div>