﻿<div class="panel-group" id="submenu-accordion">
  	<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><a href="#content-submenu" data-toggle="collapse" class="submenulink accordion-toggle" data-parent="#submenu-accordion">Contents</a></div>

  <!-- List group -->
  <ul class="list-group panel-collapse collapse" id="content-submenu">
    <li class="list-group-item"><a href="/surg/intro.aspx" class="hvt-intro">Introduction</a></li>
    <li class="list-group-item"><a href="/surg/tiered.aspx" class="hvt-tiered">Tiered communication strategy</a></li>
  </ul>
  </div>
  
  
  
  	<div class="panel panel-default">
   <div class="panel-heading"><a href="#elements-submenu" data-toggle="collapse" class="submenulink accordion-toggle" data-parent="#submenu-accordion">Tier 1 brand books</a></div>

  <!-- List group -->
 <ul class="list-group panel-collapse collapse" id="elements-submenu">
    <li class="list-group-item"><a href="/surg/pro-edu.aspx" class="hvt-pro-edu">Professional education</a></li>
    <li class="list-group-item"><a href="/surg/clinical.aspx" class="hvt-clinical">Clinical trials</a></li>
  </ul> 
  
  </div>
  
  
  	<div class="panel panel-default">
  
  <div class="panel-heading"><a href="#print-submenu" data-toggle="collapse" class="submenulink accordion-toggle" data-parent="#submenu-accordion">Tier 2 brand books</a></div>


  <!-- List group -->
 <ul class="list-group panel-collapse collapse" id="print-submenu">
 <li class="list-group-item"><a href="/surg/transforming-tomorrow.aspx" class="transforming-tomorrow">Transforming tomorrow campaign</a></li>
    <li class="list-group-item"><a href="/surg/employee.aspx" class="employee">Employee communication initiative</a></li>
    <li class="list-group-item"><a href="/surg/resilia-tissue.aspx" class="hvt-resilia-tissue">RESILIA tissue</a></li>
  </ul> 
  </div>
  
  
  	<div class="panel panel-default">
 
  <div class="panel-heading"><a href="#ads-submenu" data-toggle="collapse" class="submenulink accordion-toggle" data-parent="#submenu-accordion">Tier 3 brand books</a></div>

  <!-- List group -->
 <ul class="list-group panel-collapse collapse" id="ads-submenu">
    <li class="list-group-item"><a href="/surg/inspiris.aspx" class="hvt-inspiris">INSPIRIS RESILIA aortic valve</a></li>
    <li class="list-group-item"><a href="/surg/intuity-elite.aspx" class="hvt-intuity-elite">EDWARDS INTUITY Elite valve system</a></li>
    <li class="list-group-item"><a href="/surg/magna-ease.aspx" class="hvt-magna-ease">Magna Ease valve</a></li>
    <li class="list-group-item"><a href="/surg/magna-mitral.aspx" class="hvt-magna-mitral">Magna Mitral Ease valve</a></li>
    <li class="list-group-item"><a href="/surg/perimount-aortic.aspx" class="hvt-perimount-aortic">PERIMOUNT aortic valve</a></li>
    <li class="list-group-item"><a href="/surg/perimount-mitral.aspx" class="hvt-perimount-mitral">PERIMOUNT mitral valve</a></li>
    <li class="list-group-item"><a href="/surg/ce-physio-II.aspx" class="hvt-ce-physio-II">Carpentier-Edwards Physio II ring</a></li>
    <li class="list-group-item"><a href="/surg/physio-tricuspid.aspx" class="hvt-physio-tricuspid">Physio tricuspid ring</a></li>
    <li class="list-group-item"><a href="/surg/mc3.aspx" class="hvt-mc3">MC3 ring</a></li>
    <li class="list-group-item"><a href="/surg/annuloplasty.aspx" class="hvt-annuloplasty">General annuloplasty rings</a></li>
  </ul> 

</div>






  
</div>