﻿<%@ Page Language="C#" ContentType="text/html" ResponseEncoding="utf-8" %>
<!DOCTYPE html>
<html lang="en">
<head>


<!-- #include file="meta-top.html" -->
</head>

<body data-spy="scroll" data-target="#tabslider">
<!-- #include file="contact-form.html" -->


<div id="edwards-wrapper">

<!-- #include file="header.html" -->



 <div id="contents-reg" class="page">    <div class="container-fluid">
    <div class="row">
      <div class="redboxes-horz">
      <div class="redbox-horz-sm"></div>
      <div class="redbox-horz-lg">
        <h1>Brand identity standards</h1>
      </div>
      </div>
      </div>
    </div><!-- /.basic-header-edw --> <div class="container-fluid">
  <div class="row">
  
  <div class="col-md-9 col-md-push-3 main-content">
  
  <ol class="breadcrumb">
  <li><a href="contents.aspx">Brand identity standards</a></li>
  <li>Contents</li>
  <li>Regulatory and legal requirements</li>
  </ol>
  
  
   <div id="tabslider">
  <h2>Regulatory and legal requirements<a href="pdf/p-reg-legal.pdf" class="btn-share" target="_blank" role="button" data-toggle="tooltip" title="Print this page"><i class="icon-printer"></i></a>
 <!-- Go to www.addthis.com/dashboard to customize your tools --><div class="addthis_toolbox share-email"><a class="addthis_button_mailto btn-share" style="text-decoration:none;" title="Email this page" data-toggle="tooltip"><span class="icon-envelop"></span></a></div>
</h2>  <div class="clearfix"></div>


 <ul class="nav nav-tabs edw-tabs" role="tablist" data-offset-top="520" data-spy="affix">
  <li class="first-tab"><a href="#tabs-1" class="match-height"><span>Overview</span></a></li>
  <li><a href="#tabs-2" class="match-height"><span>Internal use</span></a></li>
  <li><a href="#tabs-3" class="match-height"><span>Trademark</span></a></li>
  <li><a href="#tabs-4" class="match-height"><span>Copyright</span></a></li>
  <li><a href="#tabs-5" class="match-height"><span>Order of appearance</span></a></li>
</ul>

 <div class="edw-tabslider">
    <div class="pane" id="tabs-1">
 <h3>Overview</h3>   

<h3>All products marketed in the U.S.</h3>
<p>Regulatory statements (as determined by Regulatory Affairs) for U.S. materials:</p>
<ul>
<li>Must be placed prominently on the page, with a minimum of one (1) line
separation from all other content.</li>
<li>Must be sufficiently prominent to be legible from the distance at which it
will be read and prominent enough to appear as important information.</li>
<li>Must appear above the logo.</li>
<li>Must be in bold type except on the website.</li>
<li>Type color must be black (or reversed out to white, where applicable) so as
to be in distinct contrast with the background.</li>
<li>The minimum allowable type size is 7pt., but the type size must be
increased as the size of the material increases.</li>
<li>The type must be comparable in value (size, weight) to be proportionate to
standard body copy used in the material, and may not be in a condensed font.</li>
</ul>
<h3>Further restricted devices (heart valves) marketed in the U.S.</h3>
<ul>
<li>Regulatory statements (as determined by Regulatory Affairs) for U.S. materials
must include one of the following titles: “Important Safety Information” (for
HCP-directed pieces) or “Important Risk Information” (for patient-directed
pieces) as applicable to the specific product(s), and follow guidance above.</li>
<li>The title and the section titles (Indications, Contraindications,
Complications and Side Effects, Warnings) must be in bold type.</li>
<li>For materials where the Important Safety Information / Important Risk
Information will be printed on a subsequent page, the following must be
included on front or first page:<br>
<br>

“<strong>CAUTION: Federal (USA) law restricts this device to sale by or on the
order of a physician. See adjacent page for Important Safety Information</strong>
(or Important Risk Information, as applicable).” or comparable verbiage as
determined by Regulatory Affairs.<br>
<br>
<em>NOTE: Where permissible, “Rx only.” may be used in place of the full CAUTION
statement. “Rx only.” should appear first when used in conjunction with the
Important Safety (or Risk) Information statements.</em><br>
<br>
The layout of the adjacent or subsequent page should lead with the product
name and <strong>“Important Safety Information or Important Risk Information
(as applicable)”</strong> in bold. The format should maintain the margins and type
size of the original ad. The logo and address information should also be
consistent with the ad. (See <a href="print-back-pages.aspx" target="_blank">back page</a>).</li></ul>

<h3>Investigational devices</h3>
<ul>
<li>Investigational devices may not be promoted in the U.S.</li>
<li>When developing materials for use other than promotion, the following
statement must be included:<strong> “CAUTION: Investigational device. Limited
by Federal (USA) law to investigational use.”</strong> or comparable verbiage as
determined by Regulatory Affairs.</li>
<li>Follow guidance above.</li>
</ul>
<h3>Products marketed outside the U.S.</h3>
<ul>
<li>Regulatory statements (as determined by Regional Regulatory Affairs) must
be included as needed.</li>
<li><strong>“CE Mark Pending”</strong> may be included where applicable.</li>
<li>The format of region-specific promotional materials must be in compliance
with Edwards’ Brand Identity Standards.</li>
</ul>
<h3>Legal copy</h3>
<ul>
<li>Type color must be black (or reversed out to white, where applicable).</li>
<li>The minimum allowable type size is 7pt., but the type size must be
increased as the size of the material increases.</li>
<li>The type must be comparable in value (size, weight) to the related copy size
used in the material.</li>
</ul>

<h3>Legibility test for regulatory and legal copy</h3>
<ul>
<li>The test for legibility is the ability to clearly read a second generation
copy of the original material. Second generation is defined as being faxed
and re-faxed, photocopied and re-photocopied, or scanned and rescanned.</li>
<li>The copy must be sufficiently prominent to be legible from the distance
at which it will be read and prominent enough to appear as important
information.</li>
</ul>
</div>

    <div class="pane" id="tabs-2">

<h3>Internal Use Only</h3>
<p>Materials intended for internal use only should follow the Brand Identity
Standards.</p>
<p>These materials should include the following statement on each page:</p>
<p class="indent"><strong>Edwards Confidential – Internal Use Only. Do not reproduce or distribute.</strong></p>
</div>

    <div class="pane" id="tabs-3">
<h3>Trademark usage</h3>
<ul>
<li>Trademark names must always be used as an adjective followed by a noun
(i.e., Swan-Ganz catheter).<br>
<br>

<em>Exception: </em>When necessary for language differences, a noun may precede
the trademark name.<br>
<br>

<em>Exception: </em>The noun may be omitted when a trademark name is used
in a table or chart where space is limited as long as the trademark name
has been appropriately identified in copy.</li>
<li>The noun that follows the trademark name must be descriptive of the
device itself (i.e., PERIMOUNT valve).</li>
<li>The noun that follows the trademark name should be in lower case.<br>
<br>

<em>Exception:</em> In a headline, subhead or booth header where it may make more
sense visually to use upper case.</li>

<li>Trademark requirements vary internationally. To ensure we are in
compliance with country requirements:<br>
<br>

We will always use a trademark statement at the end of the material.
<br>
<br>
We will NOT use trademark symbols.
<br>
<br>
<em>Exception:</em> Trademark symbols may be used on materials where a trademark
statement cannot reasonably be used.</li>
<li>All trademark names used in the material must be included in the
trademark statement.</li>
<li>List the company name and logo first, then all others in alphabetical order.<br>
<br>

<em>Sample trademark statement:</em>
Edwards, Edwards Lifesciences, the stylized E logo, Fogarty, PERIMOUNT and
Swan-Ganz are trademarks of Edwards Lifesciences Corporation.</li>
<li>Materials that contain trademarks that belong to other entities must be
noted as follows (unless otherwise required due to contractual obligations):<br>
<br>

All other trademarks are the property of their respective owners.</li>
<li>Service marks are noted on educational materials:<br>
<br>
<em>Sample statement that includes service marks:</em>
Edwards, Edwards Lifesciences, the stylized E logo, Fogarty, PERIMOUNT and
ValveNet are trademarks or service marks of Edwards Lifesciences Corporation.</li>
<li>The trademark statement is placed after the regulatory and legal copy at the
end of the material.</li>
<li>Verify current trademarks: <a href="http://www.edwards.com/legal/legalterms#legal">edwards.com/legal/legalterms</a></li>
<li>Refer to <a href="pdf/Trademark_021616.pdf" target="_blank">Trademarks Style Guide</a>.</li>
</ul>
<p><em>Note:</em> Exceptions or questions should be addressed to Debbie Sklar
(<a href="mailto:debbie_sklar@edwards.com">debbie_sklar@edwards.com</a>) or Edwards Intellectual Property Counsel.</p>

</div>


<div class="pane" id="tabs-4">

<h3>Copyright information</h3>
<p>The following copyright statement must appear on all collateral and
advertising materials:</p>
<p class="indent">© 2016 Edwards Lifesciences Corporation All rights reserved</p>
<p><em>Note:</em> The date will change from year to year</p>
</div>



    <div class="pane" id="tabs-5">
<h3>Order of appearance</h3>
<p>When developing promotional materials that have multiple requirements for
legal and regulatory content, please note the appropriate order of appearance
of the required information, as applicable:</p>
<ol>
<li>Prescription device statement (or other applicable regulatory statements)</li>
<li>Important Safety (or Risk) Information (as applicable)</li>
<li>References</li>
<li>Legal statements</li>
<li>Trademark statement</li>
<li>Copyright statement</li>
<li>Address</li>
</ol>
<p>
<figure>
<img src="img/legal-reg1.png" width="714" height="430" class="img-responsive" />
  <figcaption>Sample back page layout</figcaption>
</figure>
</p>

</div>

</div>

</div>
</div>

    
  <div class="col-md-3 col-md-pull-9">
  
<!-- #include file="sidemenu-branding.html" -->
  
  
  </div>
    
    
 </div>
 
 </div>
 </div>  <!-- end page -->
 
 
 
<!-- #include file="footer.html" --> 

  
  
</div> <!-- /wrapper -->

<!-- #include file="meta-bottom.html" --> 
</body>
</html>
