﻿<%@ Page Language="C#" ContentType="text/html" ResponseEncoding="utf-8" %>
<!DOCTYPE html>
<html lang="en">
<head>


<!-- #include file="meta-top.html" -->
</head>

<body data-spy="scroll" data-target="#tabslider">
<!-- #include file="contact-form.html" -->


<div id="edwards-wrapper">

<!-- #include file="header.html" -->



 <div id="elements-secondary" class="page">    <div class="container-fluid">
    <div class="row">
      <div class="redboxes-horz">
      <div class="redbox-horz-sm"></div>
      <div class="redbox-horz-lg">
        <h1>Brand identity standards</h1>
      </div>
      </div>
      </div>
    </div><!-- /.basic-header-edw --> <div class="container-fluid">
  <div class="row">
  
  <div class="col-md-9 col-md-push-3 main-content">
  
  
  <ol class="breadcrumb">
  <li><a href="contents.aspx">Brand identity standards</a></li>
  <li>Basic elements</li>
  <li>Secondary graphic</li>
  <a href="#multiply">test</a>
  </ol>
  
  
  <div id="tabslider">
  
  <h2>Secondary graphic
  <a href="pdf/p-secondary-graphic.pdf" class="btn-share" target="_blank" role="button" data-toggle="tooltip" title="Print this page"><i class="icon-printer"></i></a>
 <!-- Go to www.addthis.com/dashboard to customize your tools --><div class="addthis_toolbox share-email"><a class="addthis_button_mailto btn-share" style="text-decoration:none;" title="Email this page" data-toggle="tooltip"><span class="icon-envelop"></span></a></div></h2>
  <div class="clearfix"></div>
  
  
 <ul class="nav nav-tabs edw-tabs" role="tablist" data-offset-top="520" data-spy="affix">
  <li class="first-tab"><a href="#tabs-0" class="match-height"><span>Overview</span></a></li>
  <li><a href="#tabs-1" class="match-height"><span>How to create</span></a></li>
  <li><a href="#tabs-2" class="match-height"><span>Small graphic uses</span></a></li>
  <li><a href="#tabs-3" class="match-height"><span>Large graphic uses</span></a></li>
  <li><a href="#tabs-4" class="match-height"><span>Incorrect uses</span></a></li>
</ul>

 <div class="edw-tabslider">
    <div class="pane" id="tabs-0">
 
 <h3>Overview</h3>     
      
 <div class="well intro">
  <p>The secondary graphic is our unifying
element. It’s the focal point on
communications, conveying the ideas
of transformation and collaboration. It is a statement of where we have
been and where we are going, as well
as a metaphor for our collaborative
role in helping patients return to
well-being and health.</p>
</div>
<p>The secondary graphic consists of one small
square – positioned lower left – connected
to a larger square above and to the right.
The smaller square should remain solid red
(PANTONE 186), without transparency or
tints.</p>
<p>For most applications – whether it be digital
or print – there are two sizes of the secondary
graphic available: one small and one large.
Each offers a different approach for placing
photos and messaging, but in the end, all
materials will relate to one another.</p>

<div class="row">
<div class="col-md-4">
 
<p><strong>Small graphic</strong><br>

The small secondary graphic appears
on the left side of communications. This
graphic holds the title or headline. The small
secondary graphic may be placed over a
photo, a tinted neutral color, the approved
pattern, or white. See the following pages for
additional samples and specifications.</p>
</div>

<div class="col-md-5 col-md-offset-2">
<img src="img/secondary-overview1.png" width="336" height="470" alt="Secondary graphic small" class="img-responsive center-block img-margin" />
</div>
</div>
<div class="row">
<div class="col-md-4">
<p><strong>Large graphic</strong><br>

The large secondary graphic allows for photos
to be combined with titles or headlines into
one frame. The larger square may also be
cropped on certain applications for even
more flexibility, such as on a content sheet
or desktop email. See the following pages for additional samples and specifications.</p>

</div>

<div class="col-md-5 col-md-offset-2">
<img src="img/secondary-overview2.png" width="339" height="467" alt="secondary graphic large" class="img-responsive center-block" />
</div>
</div>
    
    
    </div>
    <div class="pane" id="tabs-1">
    
  <h3>How to create</h3> 
  


<div class="row">
<div class="col-md-12">
<p><strong>Proportions</strong><br>

The proportions between the two squares in
the secondary graphic are based on the size
of the smaller square. For every one (1) small
square, the larger square equals 9x9 small
squares, or 14x14, 19x19, etc. This means that
the secondary graphic totals 10 units wide
by 10 units high, or 15x15, 20x20, etc. These
are the primary sizes used; other sizes may be
used, but they must total increments of 5.</p>
<p><img src="img/secondary-howto1.png" width="747" height="278" alt="Proportions" class="img-responsive" /></p>

<p><strong>Placement</strong><br>

The secondary graphic – whether small or large
– should always start close the left edge. Do not
bleed or align the smaller square to the edge of
a communication – it should always appear as
a full square with white space to the left.
The top or right edge of the large secondary
graphic may be cropped, depending on the
size of the piece and the amount of content.
For example, on an email header or content
sheet, the top portion may be cropped.</p>

<p><img src="img/secondary-howto2.png" alt="Proportions" class="img-responsive" /></p>

<p><strong>Color</strong><br>

The secondary graphic must be 100% primary
red (PANTONE 186), never tinted. The smaller
square must always remain opaque – never
translucent or tinted – however, using the large
secondary graphic allows for more flexibility.</p>
<div class="well intro"><p><strong>Uses</strong><br>

Throughout this document you will see
several ways to use the secondary graphic.
While each page offers details for a
specific size piece in a specific media, the
layouts may apply to other pieces.
For example, layouts for a small print
piece can easily apply to a mobile email or
app. While sizes and proportions may vary,
the rules for using the small and large
secondary graphic remain the same.</p></div>

</div>


</div>     
    
    
    </div>
    <div class="pane" id="tabs-2">
   <h3>Small graphic uses</h3> 
  

    <div class="well intro"><p>On most applications there are
two configurations for the secondary
graphic – a small and a large
These two options allow for creative
flexibility.</p></div>

<div class="row">
<div class="col-md-5">  

<p><strong>Without photos</strong><br>

The secondary graphic may be placed over
a 50%, 25% (or lighter) tinted neutral color,
white, or the background pattern (see <a href="elements-bg-pattern.aspx" target="_blank">backgrounds page</a>). When a background color or pattern
is used, the bottom edge should align to the
top horizontal line of the E symbol. The small
secondary graphic should be 100% primary
red, no tints. When placed over a neutral
color or background pattern, the secondary
graphic is 100% opaque, not translucent.</p>

</div>
<div class="col-md-7"><img src="img/smallsizes-without.jpg" alt="small sizes" class="img-responsive img-margin" /></div>
</div>

<div class="row">
<div class="col-md-5">  

<p><strong>Silhouette photos</strong><br>

The background of a silhouetted photo may
be white or a tinted neutral color (including
grays), or the pattern. Neutral colors should
be a 50% or 25% (or lighter) tint. Both squares
in the secondary graphic are 100% primary
red, no tints.</p>
<p>A silhouetted photo may be placed over the
larger square only, and every corner of the
graphic must be clearly visible. The photo may
only cover 15% of the secondary graphic area
and must allow space for titles or headlines.</p>

</div>
<div class="col-md-7"><img src="img/smallsizes-sil.jpg" alt="small sizes" class="img-responsive img-margin" /></div>
</div>

<div class="row">
<div class="col-md-5">  
<a name="multiply"></a>

<p><strong>Multiply effect</strong><br>

On photo backgrounds, the larger of the
two squares in the secondary graphic may
use a 100% multiply effect which allows the
photo behind to show through. There is also
a 75% opaque white square behind the larger
red square to help lighten the photo. The
smaller square is always 100% opaque, not
translucent.</p>
    
    </div>
    <div class="col-md-7">
    <img src="img/smallsizes-2.png" alt="small sizes" class="img-responsive" />
    </div></div>
    
    
    </div>
    <div class="pane" id="tabs-3">
    
    <h3>Large graphic uses</h3> 
  


<div class="row">
<div class="col-md-6">  
<p><strong>Without photos</strong><br>

When used without a photo, the large
secondary graphic may appear two ways:</p>
<ul>
<li>Both squares are 100% primary red (no tints)</li>
<li>The smaller square is 100% primary red and
the larger square is a 25% tint of Gray 423;
the title must be 100% primary red</li>
</ul>
<p>The graphic may be placed on a 50% or 25%
(or lighter) tinted neutral color, or pattern
background, provided there is enough contrast.</p>

  </div>
    <div class="col-md-6">
    <img src="img/large-without.jpg" alt="large sizes" class="img-responsive" />
    </div></div>

<div class="row">
<div class="col-md-6">  
<p><strong>Silhouette photos</strong><br>
The background of a silhouetted photo in the
larger square may be 100% primary red, or a
tinted neutral color. Neutral colors should be
a 25% or 50% tint, never darker (see <a href="elements-bg-pattern.aspx" target="_blank">backgrounds page</a>).
When using a neutral color, the title should be
100% red and the subtitle should be gray.</p>
<p>
When using a silhouetted photo with a red
background, the area behind the secondary
graphic may be a 50%, 25% (or lighter) tinted
neutral color, white, or the background
pattern (see <a href="elements-bg-pattern.aspx" target="_blank">backgrounds page</a>). A silhouetted photo
(with no background) may be placed over the
secondary graphic only if it doesn’t interfere
with the Edwards logo or smaller red square.</p>
   </div>
    <div class="col-md-6">
    <img src="img/large-sil.jpg" alt="large sizes" class="img-responsive" />
    </div></div>  
    
    <div class="row">
<div class="col-md-6"> 
<p><strong>Full-color photos</strong><br>

<p>With full-color photos, the title should be
100% red with a gray subtitle. The subtitle
color may change to work with the photo.</p>
<p>The secondary graphic may be placed on a 25% or
50% tinted neutral color or pattern background.
The bottom edge of the background should
align to the top horizontal line of the E symbol.</p>
<p>Always be sure there is some color – not stark
white – in the photo background to clearly
define the edges of the secondary graphic. Do
not add a border around the secondary graphic.</p>
    
    </div>
    <div class="col-md-6">

    <img src="img/large-full-color.jpg" alt="large sizes" class="img-responsive" />
    </div></div>  
    
    
    </div>
    <div class="pane" id="tabs-4">
    <h3>Incorrect uses</h3>
    <div class="row">
    <div class="col-md-12">
    <ol>
 <li><strong>Don’t bleed the smaller red square</strong><br>

The small red square should have space to the left and below it.<br><img src="img/secondary_01.png" alt="incorrect uses" class="img-responsive img-margin" /></li>
<li><strong>Only use approved colors</strong><br>

Do not use tints of red or other colors for the secondary graphic.
The smaller square must be 100% primary red. For large secondary
graphics, the larger square may be red, a 25% tint of Gray 423, a photo,
or a silhouetted photo with a red or tinted neutral background.<br><img src="img/secondary_02.png" alt="incorrect uses" class="img-responsive img-margin" />
</li>
<li><strong>Don’t shift the placement</strong><br>

The secondary graphic should always start toward the left edge of
the communication and with the smaller square below and to the
left of the larger square.<br><img src="img/secondary_03.png" alt="incorrect uses" class="img-responsive img-margin" style="margin-top: 10px" /></li>
<li><strong>Don’t distort the secondary graphic</strong><br>

Do not stretch, distort or rotate the graphic.<br><img src="img/secondary_04.png" alt="incorrect uses" class="img-responsive img-margin" style="margin-top: 10px" /></li>
<li><strong>Don’t change the proportions</strong><br>

Do not alter the proportions of the secondary graphic shapes
Follow the standards outlined on this page in the "How to create" tab.<br><img src="img/secondary_05.png" alt="incorrect uses" class="img-responsive img-margin" style="margin-top: 10px" /></li>
<li><strong>Don’t add other shapes to the secondary graphic</strong><br>

Do not add other square, rectangular or other shapes inside or
around the secondary graphic. The two squares of the secondary
graphic are the focal point.<br><img src="img/secondary_06.png" alt="incorrect uses" class="img-responsive img-margin" style="margin-top: 10px" /></li>
<li><strong>Don’t anchor photos to the larger square</strong><br>

Photos should appear behind the small secondary graphic or within
the larger square of the large secondary graphic.<br><img src="img/secondary_07.png" alt="incorrect uses" class="img-responsive img-margin" style="margin-top: 10px" /></li>
<li><strong>Don’t use 100% neutral color backgrounds</strong><br>

Background fills should be a 25% or 50% of a neutral color or pattern,
never darker (see <a href="elements-bg-pattern.aspx" target="_blank">backgrounds page</a>).<br><img src="img/secondary_08.png" alt="incorrect uses" class="img-responsive img-margin" style="margin-top: 10px" /></li>
<li><strong>Don’t repeat or use multiple secondary graphics</strong><br>

Only one, prominent graphic should be used per page or screen.<br><img src="img/secondary_09.png" alt="incorrect uses" class="img-responsive img-margin" style="margin-top: 10px" /></li>
<li><strong>Don’t shift the small secondary graphic too high or too low</strong><br>

It should always appear center-left. If the small secondary graphic
does not work with the photo, use the large secondary graphic
where the photo and title both appear in the larger square.<br><img src="img/secondary_10.png" alt="incorrect uses" class="img-responsive img-margin" style="margin-top: 10px" /></li>
<li><strong>Don’t use the secondary graphic for secondary messages only</strong><br>

Titles and headlines should appear in or below the secondary graphic.<br><img src="img/secondary_11.png" alt="incorrect uses" class="img-responsive img-margin" style="margin-top: 10px" /></li>
<li><strong>Don’t use the da Vinci lines and/or red line graphic elements</strong><br>

These graphic elements should never be used on any materials.<br><img src="img/secondary_12.png" alt="incorrect uses" class="img-responsive img-margin" style="margin-top: 10px" /></li>
</ol>
    </div>

    
    </div>
    
    
    
    
    </div>
  </div>
  
  
  
  

    </div>

  
    </div>
    
    
    
  <div class="col-md-3 col-md-pull-9">
  
<!-- #include file="sidemenu-branding.html" -->
  
  
  </div>
    
    
 </div>
 
 </div>
 </div>  <!-- end page -->
 
 
 
<!-- #include file="footer.html" --> 

  
  
</div> <!-- /wrapper -->

<!-- #include file="meta-bottom.html" --> 
</body>
</html>
