   <footer id="footer">
	 <div class="container">
     
  				<div id="custom-search-footer">
                            <div class="input-group col-md-3">
                                         <span class="input-group-btn"><button class="btn btn-titan btn-sm" type="button">
                                        <span class="icon-search"></span>
                                                                            </button></span>
                                <input type="text" class="search-query form-control input-sm input-titan" placeholder="Search Edwards.com" />
                           
                                
                            </div>
                        </div>
        
        <p class="pull-right"><a href="index.html" title="EGEL"><img src="img/logo-edwards-footer.png" class="img-responsive center-block" alt="Edwards EGEL"></a></p>
        	<ul class="nav social extramargin">
            <li class="footer-follow">Follow Edwards On:</li>
            <li><a href="#" title="Twitter"><span class="icon-twitter"></span></a></li>
            <li><a href="#" title="LinkedIn"><span class="icon-linkedin2"></span></a></li>
            <li><a href="#" title="youtube"><span class="icon-youtube"></span></a></li>
            </ul>
            
         
            <ul class="nav nav-pages small">
            <li><a href="#">link</a></li>
            <li><a href="#">link</a></li>
            <li><a href="#">link</a></li>
            </ul>
            <p class="small">&copy; <script>document.write(new Date().getFullYear())</script> Edwards Lifesciences Corporation. <span class="block-xs">All rights reserved.</span></p>
        	<div class="clearfix"></div>
        </div>
   </footer>