﻿
 <div class="page" id="home">
  
  <div class="jumbotron banner-edw banner-home">
    <div class="container">
      <div class="redboxes">
      <div class="redbox-sm"></div>
      <div class="redbox-lg">
        <h1>Edwards brand identity standards</h1>
      </div>
      </div>
    </div>
  </div><!-- /.banner-edw --> 
  
  <div class="container-fluid">
 
 <div class="row dot-borders-adjust">
 
  		<div class="col-md-3 col-sm-2">
        <div class="row">
        	<div class="col-md-5"><img src="img/home-logo-usage.jpg" alt="Logo usage" class="img-responsive">
            </div>
            <div class="col-md-7">
            <h4>Logo usage<br>&nbsp;</h4>
            <p><a href="elements.aspx" class="btn btn-info block-xs" role="button"><span class="icon-circle-right"></span> Learn more</a></p>
            </div>
        </div>
        </div>
 
  		<div class="col-md-3 col-sm-2">
         <div class="row">
        	<div class="col-md-5"><img src="img/img-lib-home.jpg" alt="Image library" class="img-responsive">
            </div>
            <div class="col-md-7">
            <h4>Image library<br>&nbsp;</h4>
            <p><a href="elements-image-library.aspx" class="btn btn-info block-xs" role="button"><span class="icon-circle-right"></span> Learn more</a></p>
            
            
            </div>
        </div>
        </div>
 


 		<div class="col-md-3 col-sm-2">
         <div class="row">
        	<div class="col-md-5"><img src="img/home-toolkit-thumb.png" alt="Digital standards" class="img-responsive">
            </div>
            <div class="col-md-7">
            <h4>Digital toolkit<br>&nbsp;</h4>
            <p><a href="http://toolkit.edwards.com" target="_blank" class="btn btn-info block-xs" role="button"><span class="icon-circle-right"></span> Learn more</a></p>
            </div>
        </div>
        </div>
        
        
        <div class="col-md-3 col-sm-2">
         <div class="row">
        	<div class="col-md-5"><img src="img/Irvine_Front_noreflection-th.jpg" alt="Facilities standards" class="img-responsive">
            </div>
            <div class="col-md-7">
            <h4>Facilities standards</h4>
            <p><a href="facilities/index.aspx" class="btn btn-info block-xs" role="button"><span class="icon-circle-right"></span> Learn more</a></p>
            </div>
        </div>
        </div>
        

 
 </div> <!-- /row -->
 </div>
 
  <div class="container-fluid edw-gray-bg home-one">

 <div class="row edw-media">
  <div class="col-md-4 col-md-offset-2">
    
  <h3>One Edwards</h3>
  <p>We have adopted a strategy of “One Edwards.”
We believe that by reinforcing our corporate
brand externally to build equity and awareness,
we will envelop and boost all of our business
functions and business units individually.
We endeavor to portray one company, one
brand and one consistent image to the outside
world. <br>
<br>
As such, we have streamlined our
communications approach, creating one set
of standards and templates across the entire
company – every business function, every
business unit and every region.</p>

  </div>
  
      	<div class="col-md-6">
        	<div class="row">
            	<div class="col-md-2 text-home-credo"><span class="edw-circle-icon"><span class="icon-download"></span></span></div>
                <div class="col-md-10"><h3>Downloads</h3>
                <p class="pad20">Get the latest assets to help you design or code your next Edwards graphics projects.</p>
                
                <div class="row">
                <div class="col-md-6">
                <p><a href="pdf/Edwards_Brand_Identity_Standards_V2_25Oct2016.pdf" role="button" class="btn btn-block btn-success home-down-btn btn-sm"><span class="icon-file-pdf"></span> US brand standards</a></p>
                <p><a href="templates/US/print-collateral-digital.zip" role="button" class="btn btn-block btn-success home-down-btn btn-sm"><span class="icon-file-zip"></span> US collateral - digital templates</a></p>
                 <p><a href="https://ewdigstrategy.blob.core.windows.net/standards/templates/US-PPT-Templates.zip" role="button" class="btn btn-block btn-success home-down-btn btn-sm"><span class="icon-file-zip"></span> US PowerPoint templates</a></p>
                  <p><a href="templates/US/Word_doc.zip" role="button" class="btn btn-block btn-success home-down-btn btn-sm"><span class="icon-file-zip"></span> US Word templates</a></p>
                  <p><a href="templates/logos.zip" role="button" class="btn btn-block btn-success home-down-btn btn-sm"><span class="icon-file-zip"></span> Logo files</a></p>
                  <p><a href="templates/email-templates.zip" role="button" class="btn btn-block btn-success home-down-btn btn-sm"><span class="icon-file-zip"></span> Email templates</a></p>
                 
              
                </div>
                <div class="col-md-6">
                 
                    <p><a href="pdf/Edwards_Brand_Identity_Standards_V2_Metric_25Oct2016.pdf" role="button" class="btn btn-block btn-success home-down-btn btn-sm"><span class="icon-file-pdf"></span> Metric brand standards</a></p>
                   <p><a href="templates/Met/print-collateral-digital.zip" role="button" class="btn btn-block btn-success home-down-btn btn-sm"><span class="icon-file-zip"></span> Metric collateral - digital templates</a></p>
                <p><a href="https://ewdigstrategy.blob.core.windows.net/standards/templates/Metric-PPT-Templates.zip" role="button" class="btn btn-block btn-success home-down-btn btn-sm"><span class="icon-file-zip"></span> Metric PowerPoint templates</a></p>
                <p><a href="templates/Met/Word_doc.zip" role="button" class="btn btn-block btn-success home-down-btn btn-sm"><span class="icon-file-zip"></span> Metric Word templates</a></p>
                <p><a href="pdf/Edwards-Letterhead-2016.docx" role="button" class="btn btn-block btn-success home-down-btn btn-sm"><span class="icon-file-zip"></span> Edwards letterhead</a></p>
               
                    
                    
                </div>
                </div>
                
                </div>
            </div>        
        </div>
</div> <!-- /row -->

  </div>
  
  
    <div class="container-fluid">

 <div class="row dot-borders">
 		<div class="col-md-4 col-sm-4">
        <div class="row">
        	<div class="col-md-5"><img src="img/thumbnail-print.png" alt="Print Collateral" class="img-responsive">
            </div>
            <div class="col-md-7">
            <h4>Print collateral</h4>
            <p><a href="print-covers.aspx" class="btn btn-info block-xs" role="button"><span class="icon-circle-right"></span> Learn more</a></p>
            </div>
        </div>
        </div>
 		<div class="col-md-4 col-sm-4">
         <div class="row">
        	<div class="col-md-5"><img src="img/thumbnail-ad.png" alt="Advertising" class="img-responsive">
            </div>
            <div class="col-md-7">
            <h4>Advertising</h4>
            <p><a href="ads-single.aspx" class="btn btn-info block-xs" role="button"><span class="icon-circle-right"></span> Learn more</a></p>
            </div>
        </div>
        </div>
 		<div class="col-md-4 col-sm-4">
         <div class="row">
        	<div class="col-md-5"><img src="img/thumbnail-ppt.png" alt="PowerPoint" class="img-responsive">
            </div>
            <div class="col-md-7">
            <h4>PowerPoint</h4>
            <p><a href="dig-pp.aspx" class="btn btn-info block-xs" role="button"><span class="icon-circle-right"></span> Learn more</a></p>
            </div>
        </div>
        </div>
 
 </div> <!-- /row -->
 </div>
  
  
   <div class="container-fluid edw-gray-bg">
    <div class="row dot-borders nomargin">
  <div class="col-md-6">
  <div class="row">
  
  <div class="col-md-4">
      <img src="img/home-boilerplate.png" alt="Edwards Boilerplate" class="img-responsive"></div>
  <div class="col-md-7">
    <h3>Edwards' boilerplate</h3>
 <p>Edwards Lifesciences, based in Irvine, Calif., is the global
leader in patient-focused medical innovations for
structural heart disease, as well as critical care and surgical
monitoring. Driven by a passion to help patients, the
company collaborates with the world’s leading clinicians
and researchers to address unmet healthcare needs,
working to improve patient outcomes and enhance lives.<br><br>
For more information, visit <a href="http://edwards.com" target="_blank">Edwards.com</a> and follow us on
Twitter <a href="https://twitter.com/edwardslifesci" target="_blank">@EdwardsLifesci</a>.</p>
  
  

  </div>
  </div>
  </div>
  
    <div class="col-md-6">
    <div class="row">
  <div class="col-md-9 col-md-offset-1">
  <h3>Our credo</h3>
  <p>At Edwards Lifesciences, we are dedicated to providing innovative solutions for people fighting cardiovascular disease.<br><br>

Through our actions, we will become trusted partners with customers, colleagues and patients – creating a community unified in its mission to improve the quality of life around the world. Our results will benefit customers, patients, employees and shareholders.<br><br>

We will celebrate our successes, thrive on discovery and continually expand our boundaries. We will act boldly, decisively and with determination on behalf of people fighting cardiovascular disease.</p>
  </div>
  </div>
  </div>
  </div>
  

   
   </div>
   
<div class="container">     <div class="row">
  <div class="col-md-12 text-center" style="padding: 30px 15px"><img src="img/lifeisnow.jpg" alt="Life is now" width="669" height="149" class="img-responsive center-block"></div></div>
  </div>
<!--  <div class="container-fluid">
  <div class="row">
  <div class="col-md-3 col-sm-6">
  		<div class="thumbnail grid-edw"> <a href="#"><img src="img/whatisegel.png" class="img-responsive" alt="What is EGEL?"></a>
            <div class="caption">
        	<h3>What is EGEL?</h3>
            <p>Learn about our EGEL and how to use this site for your Edwards projects.</p>
            <p><a href="#" class="btn btn-info block-xs" role="button"><span class="icon-circle-right"></span> Learn more</a></p>
 			</div>
        </div>
  </div>
  <div class="col-md-3 col-sm-6">
  		<div class="thumbnail grid-edw"> <a href="contents-foundation.aspx#personality"><img src="img/personality.png" class="img-responsive" alt="Our Brand Personality"></a>
            <div class="caption">
        	<h3>Our brand personality</h3>
            <p>Learn the five attributes of the Edwards brand personality</p>
            <p><a href="contents-foundation.aspx#personality" class="btn btn-info block-xs" role="button"><span class="icon-circle-right"></span> Learn more</a></p>
 			</div>
        </div>
  </div>
  <div class="col-md-3 col-sm-6">
  		<div class="thumbnail grid-edw"> <a href="elements.aspx"><img src="img/brand-elements.png" class="img-responsive" alt="Basic Brand Elements"></a>
            <div class="caption">
        	<h3>Basic brand elements</h3>
            <p>Find out the latest basic design requirements of our Edwards brand</p>
            <p><a href="elements.aspx" class="btn btn-info block-xs" role="button"><span class="icon-circle-right"></span> Learn more</a></p>
 			</div>
        </div>  
      </div>
  <div class="col-md-3 col-sm-6">
  		<div class="thumbnail grid-edw"> <a href="dig-websites.aspx"><img src="img/design-elements.png" class="img-responsive" alt="Design Elements"></a>
            <div class="caption">
        	<h3>Digital design elements</h3>
            <p>Get the simple components that make up our digital designs</p>
            <p><a href="dig-websites.aspx" class="btn btn-info block-xs" role="button"><span class="icon-circle-right"></span> Learn more</a></p>
 			</div>
        </div>
  </div>
  </div> 
  </div> -->
 

  
   
 
<!-- <div class="container-fluid edw-gray-bg">
 	<div class="container">
    <div class="row">
    	<div class="col-md-6 col-sm-6">
        	<div class="row">
            	<div class="col-md-2"><span class="edw-circle-icon"><span class="icon-display"></span></span></div>
                <div class="col-md-9"><h3>Web page templates</h3>
                <p>Web templates and building blocks to help you design your next Edwards web projects.</p>
                <p><a href="#" role="button" class="btn btn-block btn-success"><span class="icon-circle-right"></span> Visit web component section</a></p>
                <p><a href="#" role="button" class="btn btn-block btn-success"><span class="icon-circle-right"></span> Visit page template section</a></p>
                </div>
            </div>
        </div>
    	<div class="col-md-6 col-sm-6">
        	<div class="row">
            	<div class="col-md-2"><span class="edw-circle-icon"><span class="icon-download"></span></span></div>
                <div class="col-md-9"><h3>Digital downloads</h3>
                <p>Get the latest assets to help you design or code your next Edwards graphics projects.</p>
                <p><a href="pdf/Edwards_Brand_Identity_Standards_V2_13Sep2016.pdf" role="button" class="btn btn-block btn-success"><span class="icon-file-pdf"></span> Download full brand identity standards</a></p>
                <p><a href="templates/edwards-all-templates.zip" role="button" class="btn btn-block btn-success"><span class="icon-file-zip"></span> Download all collateral templates</a></p>
                </div>
            </div>        
        </div>
    </div> <!-- /row -->
 
 
 </div> <!-- end page -->
 