<a href="#0" class="cd-top" data-toggle="tooltip" title="Back to top"><i class="icon-circle-up"></i></a>


<!-- Bootstrap core JavaScript
    ================================================== --> 
<!-- Placed at the end of the document so the pages load faster --> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> 
<script src="/bootstrap/dist/js/bootstrap.min.js"></script> 
<script src="/js/jquery.matchHeight-min.js"></script>
<script src="/js/edwards.js"></script>
<!-- Go to www.addthis.com/dashboard to customize your tools --> <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-580168aeec6f1d47"></script> 


