﻿<%@ Page Language="C#" ContentType="text/html" ResponseEncoding="utf-8" %>
<!DOCTYPE html>
<html lang="en">
<head>


<!-- #include file="meta-top.html" -->
</head>

<body data-spy="scroll" data-target="#tabslider">
<!-- #include file="contact-form.html" -->


<div id="edwards-wrapper">

<!-- #include file="header.html" -->



 <div id="print-postcards" class="page">    <div class="container-fluid">
    <div class="row">
      <div class="redboxes-horz">
      <div class="redbox-horz-sm"></div>
      <div class="redbox-horz-lg">
        <h1>Brand identity standards</h1>
      </div>
      </div>
      </div>
    </div><!-- /.basic-header-edw --> <div class="container-fluid">
  <div class="row">
  
  <div class="col-md-9 col-md-push-3 main-content">
  
  
  <ol class="breadcrumb">
  <li><a href="contents.aspx">Brand identity standards</a></li>
  <li>Print collateral</li>
  <li>Postcards</li>
  </ol>
  
  
  <div id="tabslider">
  
  <h2>Postcards
  <a href="pdf/p-postcards.pdf" class="btn-share" target="_blank" role="button" data-toggle="tooltip" title="Print this page"><i class="icon-printer"></i></a>
 <!-- Go to www.addthis.com/dashboard to customize your tools --><div class="addthis_toolbox share-email"><a class="addthis_button_mailto btn-share" style="text-decoration:none;" title="Email this page" data-toggle="tooltip"><span class="icon-envelop"></span></a></div></h2>
  <div class="clearfix"></div>
  
  
 <ul class="nav nav-tabs edw-tabs" role="tablist" data-offset-top="520" data-spy="affix">
  <li class="first-tab"><a href="#tabs-1" class="match-height"><span>Small secondary graphic</span></a></li>
  <li><a href="#tabs-2" class="match-height"><span>Large secondary graphic</span></a></li>
</ul>

 <div class="edw-tabslider">
    <div class="pane" id="tabs-1">
 
 <h3>Small secondary graphic</h3>     
      
<div class="well intro">
<p>Like other materials, postcards off er
one small and one large secondary
graphic for creative flexibility.</p>
</div>

<p>The 5-column grid determines the placement
for each element on this 8"W x 6"H postcard.
The logo is scaled to 0.70", based on the height
of the E symbol, and aligns to the right and
bottom margins.</p>

<p><strong>Page layout</strong></p>
<p>The small secondary graphic is a fixed size and
in a fixed position. Do not shift the graphic
up or down, left or right. In this layout, the
secondary graphic equals 10 square units
high and wide, scaled as shown.</p>

<p>
<p><img src="img/print-postcards-small-1.png" alt="Postcards small" class="img-responsive" /></p></p>

<div class="row">
<div class="col-md-6">

<p><strong>Front samples</strong></p>
<p>Like covers of other formats, the larger shape
in the secondary graphic may include a
photo with a red title, or a photo may appear
behind a cropped secondary graphic (shown
below, center). Use the top horizontal line of
the E symbol to anchor the bottom edge of
the larger shape in the secondary graphic, or
the bottom edge of a photo or background
fill. The samples here also show preferred
typographic sizes and styles. Always use the
secondary graphic to hold the title.</p>
</div>

<div class="col-md-6">
<p><img src="img/print-postcards-small-2.png" alt="Postcards small" class="img-responsive center-block" /></p>
</div>
</div>

<div class="row">
<div class="col-md-8">
<p><strong>Back</strong></p>
<p>The back of the postcard uses the same
5-column grid as the front. Use the two left
columns for content and the right three
columns for recipient information, the
Edwards logo and return address.</p>
<p><em>Note: The type sizes shown are recommendations.
Type sizes may be adjusted if necessary.</em></p>
</div>

<div class="col-md-4">
<p><img src="img/print-postcards-small-3.png" alt="Postcards small" class="img-responsive center-block" /></p>
</div>
</div>
    
    
    </div>
    <div class="pane" id="tabs-2">
    
     <h3>Large secondary graphic</h3> 
 <p>The 5-column grid determines the placement
for each element on this 8"W x 6"H postcard. The logo is scaled to 0.70", based on the height
of the E symbol and aligns to the right and
bottom margins.</p>
    <div class="row">
<div class="col-md-4">
 
<p><strong>Page layout</strong></p>
<p>The secondary graphic is a fixed width,
however, the top of the larger square may be
cropped for design flexibility. In this layout,
the secondary graphic equals 20 square units
wide, scaled as shown. The right edge of the
graphic aligns to the right edge of the page.
The graphic may shift up to crop the top edge,
but do not shift it left or right.</p>

</div>

<div class="col-md-8">
<p><img src="img/print-postcards-large-1.png" alt="Postcards large" class="img-responsive center-block" /></p>
</div>
</div>

<div class="row">
<div class="col-md-12">
<p><strong>Front samples</strong></p>
<p>Like covers of other formats, the larger square
in the secondary graphic may include a photo
with a red title, or a photo may appear behind
a cropped secondary graphic. Use the top
horizontal line of the E symbol to anchor
the bottom edge of the larger shape in the
secondary graphic, or the bottom edge of a
photo or background fill. The samples here
also show preferred typographic sizes and
styles. Always use the secondary graphic to
hold the title.</p>

<p><img src="img/print-postcards-large-2.PNG" width="771" height="210" alt="Postcards large" /></p>
<p><em>Note: The type sizes shown are recommendations.
Type sizes may be adjusted if necessary.</em></p>
</div>
</div>
    
    
    </div>
    
    
    
  </div>
  
  
  
  

    </div>

  
    </div>
    
    
    
  <div class="col-md-3 col-md-pull-9">
  
<!-- #include file="sidemenu-branding.html" -->
  
  
  </div>
    
    
 </div>
 
 </div>
 </div>  <!-- end page -->
 
 
 
<!-- #include file="footer.html" --> 

  
  
</div> <!-- /wrapper -->

<!-- #include file="meta-bottom.html" --> 
</body>
</html>
