﻿<%@ Page Language="C#" ContentType="text/html" ResponseEncoding="utf-8" %>
<!DOCTYPE html>
<html lang="en">
<head>


<!-- #include file="meta-top.html" -->
</head>

<body data-spy="scroll" data-target="#tabslider">
<!-- #include file="contact-form.html" -->


<div id="edwards-wrapper">

<!-- #include file="header.html" -->



 <div id="print-content-sheets" class="page">    <div class="container-fluid">
    <div class="row">
      <div class="redboxes-horz">
      <div class="redbox-horz-sm"></div>
      <div class="redbox-horz-lg">
        <h1>Brand identity standards</h1>
      </div>
      </div>
      </div>
    </div><!-- /.basic-header-edw --> <div class="container-fluid">
  <div class="row">
  
  <div class="col-md-9 col-md-push-3 main-content">
  
  
  <ol class="breadcrumb">
  <li><a href="contents.aspx">Brand identity standards</a></li>
  <li>Print collateral</li>
  <li>Content sheets</li>
  </ol>
  
  
  <div id="tabslider">
  
  <h2>Content sheets
  <a href="pdf/p-content-sheets.pdf" class="btn-share" target="_blank" role="button" data-toggle="tooltip" title="Print this page"><i class="icon-printer"></i></a>
 <!-- Go to www.addthis.com/dashboard to customize your tools --><div class="addthis_toolbox share-email"><a class="addthis_button_mailto btn-share" style="text-decoration:none;" title="Email this page" data-toggle="tooltip"><span class="icon-envelop"></span></a></div><a href="templates/Metric/edwards-contentsheets-metric.zip" class="btn-share" role="button" data-toggle="tooltip" title="Download the metric templates"><i class="icon-download"></i> <span class="share-txt">Metric</span></a><a href="templates/US-standard/edwards-contentsheets.zip" class="btn-share" role="button" data-toggle="tooltip" title="Download the U.S. templates"><i class="icon-download"></i> <span class="share-txt">U.S.</span></a></h2>
  <div class="clearfix"></div>
  
  
 <ul class="nav nav-tabs edw-tabs" role="tablist" data-offset-top="520" data-spy="affix">
  <li class="first-tab"><a href="#tabs-1" class="match-height"><span>2-column</span></a></li>
  <li><a href="#tabs-2" class="match-height"><span>3-column</span></a></li>
</ul>

 <div class="edw-tabslider">
    <div class="pane" id="tabs-1">
 
 <h3>2-column</h3>     
      

<div class="well intro">
<p>Content sheets allow for more content
in a flexible 2- or 3-column layout. They
may be two-sided or multiple pages,
and may be used for sell sheets, fact
sheets, newsletters or white papers.</p></div>
<div class="row">
<div class="col-md-4">

<p><strong>Page layout</strong></p>
<p>This 2-column grid determines the placement
for each visual element on this 8.5"W x 11"H
format.</p>
<p>The logo is scaled to 0.80", based on the
height of the E symbol. It aligns to the right
and bottom margins.</p>
<p>The secondary graphic is a fixed size and in a
fixed position. In this layout the secondary
graphic equals 20 square units wide, scaled as
shown. The right edge of the graphic aligns to
the right edge of the page; the top is cropped.
Do not shift the graphic up or down, left
or right. Do not add any other bold, darkcolored
graphic shapes that will distract from
the secondary graphic.</p>


</div>

<div class="col-md-8">
<p><img src="img/content-sheets-2-col-1.png" alt="2-column" class="img-responsive center-block" /></p>
</div>
</div>

<div class="row">
<div class="col-md-8">

<p><strong>Small header photo</strong></p>
<p>A small, square cropped photo may appear in
the top right corner of the content sheet. The
width and height of the photo area should
equal the height of the larger red shape (1.90").</p>
<p>To differentiate related materials, a thin band
of color may be added to the right edge of the
larger red shape. This color should be from
the approved palette.</p>
</div>

<div class="col-md-4">
<p><img src="img/content-sheets-2-col-2.png" alt="2-column" class="img-responsive center-block" /></p>
</div>
</div>
<div class="row">
<div class="col-md-8">
<p><strong>Large header photo</strong></p>
<p>The larger shape in the secondary graphic may
be used for a photo. In this layout titles should
be 100% red.</p>
<p><em>Note: The type sizes shown are recommendations.
Type sizes may be adjusted if necessary.</em></p>
</div>

<div class="col-md-4">
<p><img src="img/content-sheets-2-col-3.png" alt="2-column" class="img-responsive center-block" /></p>
</div>
</div>
    
    
    </div>
    <div class="pane" id="tabs-2">
    
  <h3>3-column</h3> 
  


<div class="row">
<div class="col-md-4">
<p><strong>Page layout</strong></p>
<p>The 3-column grid allows for more flexibility
in placing copy on this 8.5"W x 11"H format.</p>
<p>The logo is scaled to 0.80", based on the
height of the E symbol. It aligns to the right
and bottom margins.</p>
<p>The samples here demonstrate effective
typographic hierarchies, from titles and
pull-quotes to body copy. Text areas can be
arranged in either one wide and one narrow
column (sidebar), or three narrow columns.
Avoid creating a single, wide column as it will
be difficult to read Do not place copy to the
right or directly below the small red square in
the secondary graphic.</p>
<p>Sidebars and call-outs may appear on a 25%
or lighter tint of primary gray or neutral color.
The color must be light so it does not compete
with the squares in the secondary graphic.</p>
</div>

<div class="col-md-8">
<p><img src="img/content-sheets-3-col-1.png" alt="3-column" class="img-responsive center-block" /></p>
</div>
</div>

<p>The secondary graphic is a fixed size and in a
fixed position. In this layout the secondary
graphic equals 20 square units wide, scaled as
shown. The right edge of the graphic aligns to
the right edge of the page; the top is cropped.
Do not shift the graphic up or down, left or right.
Do not add other graphic shapes to the layout.</p>
<div class="row">
<div class="col-md-8">

<p><strong>Masthead</strong></p>
<p>The content sheet layout may be used for
newsletters. Use the larger shape at the top
of the page for the publication name, typeset
in Vesta Std Regular. A small, square cropped
photo may also appear in the top right corner.</p>
</div>

<div class="col-md-4">
<p><img src="img/content-sheets-3-col-2.png" alt="3-column" class="img-responsive center-block" /></p>
</div>
</div>
<div class="row">
<div class="col-md-8">
<p><strong>Large header photo</strong></p>
<p>The larger shape in the secondary graphic may
be used for a photo. In this layout titles should
be a solid red from the palette, no tints.</p>
<p><em>Note: The type sizes shown are recommendations.
Type sizes may be adjusted if necessary.</em></p>
</div>

<div class="col-md-4">
<p><img src="img/content-sheets-3-col-3.png" alt="3-column" class="img-responsive center-block" /></p>
</div>
</div>
    
    
    </div>
    
    
    
  </div>
  
  
  
  

    </div>

  
    </div>
    
    
    
  <div class="col-md-3 col-md-pull-9">
  
<!-- #include file="sidemenu-branding.html" -->
  
  
  </div>
    
    
 </div>
 
 </div>
 </div>  <!-- end page -->
 
 
 
<!-- #include file="footer.html" --> 

  
  
</div> <!-- /wrapper -->

<!-- #include file="meta-bottom.html" --> 
</body>
</html>
