﻿<%@ Page Language="C#" ContentType="text/html" ResponseEncoding="utf-8" %>
<!DOCTYPE html>
<html lang="en">
<head>


<!-- #include file="meta-top.html" -->
</head>

<body data-spy="scroll" data-target="#tabslider">
<!-- #include file="contact-form.html" -->


<div id="edwards-wrapper">

<!-- #include file="header.html" -->



 <div id="print-small-formats" class="page">    <div class="container-fluid">
    <div class="row">
      <div class="redboxes-horz">
      <div class="redbox-horz-sm"></div>
      <div class="redbox-horz-lg">
        <h1>Brand identity standards</h1>
      </div>
      </div>
      </div>
    </div><!-- /.basic-header-edw --> <div class="container-fluid">
  <div class="row">
  
  <div class="col-md-9 col-md-push-3 main-content">
  
  
  <ol class="breadcrumb">
  <li><a href="contents.aspx">Brand identity standards</a></li>
  <li>Print collateral</li>
  <li>Small formats</li>
  </ol>
  
  
  <div id="tabslider">
  
  <h2>Small formats
  <a href="pdf/p-small-formats.pdf" class="btn-share" target="_blank" role="button" data-toggle="tooltip" title="Print this page"><i class="icon-printer"></i></a>
 <!-- Go to www.addthis.com/dashboard to customize your tools --><div class="addthis_toolbox share-email"><a class="addthis_button_mailto btn-share" style="text-decoration:none;" title="Email this page" data-toggle="tooltip"><span class="icon-envelop"></span></a></div></h2>
  <div class="clearfix"></div>
  
  
 <ul class="nav nav-tabs edw-tabs" role="tablist" data-offset-top="520" data-spy="affix">
  <li class="first-tab"><a href="#tabs-1" class="match-height"><span>Vertical</span></a></li>
  <li><a href="#tabs-2" class="match-height"><span>Horizontal</span></a></li>
</ul>

 <div class="edw-tabslider">
    <div class="pane" id="tabs-1">
 
 <h3>Vertical</h3>     
      

<div class="well intro">
<p>The small, vertical format uses one
size of the secondary graphic, but its
size and position are flexible.</p></div>


<p>The grid determines the placement for each
element on this 2"W x 3.5"H format.</p>
<p>The logo is scaled to 0.40", based on the
height of the E symbol, and aligns to the right
and bottom margins. A logo is not required
on the back side of small formats.</p>
<div class="row">
<div class="col-md-4">

<p><strong>Page layout</strong></p>
<p>In this layout, the secondary graphic totals
15 square units wide – scaled as shown – and
aligns to the right edge. The height of the
larger shape may be adjusted to allow for
larger photos or additional copy. Do not move
the graphic left or right. Titles should always
be placed in the larger square.</p>



</div>

<div class="col-md-4 col-md-offset-1">
<p><img src="img/print-small-vert-1.png" alt="Small formats vertical" class="img-responsive center-block" /></p>
</div>
</div>

<div class="row">
<div class="col-md-4">

<p><strong>Maximum photo height</strong></p>
<p>The larger square in the secondary graphic
can be made taller to allow for a photo within. Titles,
subtitles and body copy may shift up or down
within the shape, but should always align to
the left margin. In this layout, titles
should be a solid red from the approved
palette, no tints.</p>
<p>The background may be white, the approved
pattern, or a tinted neutral color (see <a href="elements-bg-pattern.aspx" target="_blank">backgrounds page</a>) The bottom edge of the background
should align to the logo.</p>
</div>

<div class="col-md-4 col-md-offset-1">
<p><img src="img/print-small-vert-2.png" alt="Small formats vertical" class="img-responsive center-block" /></p>
</div>
</div>


<div class="row">
<div class="col-md-4">
<p><strong>Cropped secondary graphic</strong></p>
<p>The secondary graphic may bleed off the top
edge. The title should appear in the graphic.
The larger square may use a multiply effect
as described <a href="elements-secondary.aspx" target="_blank">here</a> when placed over
a photo.</p>
<p><em>Note: The type sizes shown are recommendations.
Type sizes may be adjusted if necessary.</em></p>
</div>

<div class="col-md-4 col-md-offset-1">
<p><img src="img/print-small-vert-3.png" alt="Small formats vertical" class="img-responsive center-block" /></p>
</div>
</div>
    
    
    </div>
    <div class="pane" id="tabs-2">
    
  <h3>Horizontal</h3> 
  
<div class="well intro">
<p>The small, horizontal format uses one
size of the secondary graphic, but its
size and position are flexible.</p></div>

<p>The grid determines the placement for each
element on this 3.5"W x 2"H format.</p>
<p>The logo is scaled to 0.40", based on the
height of the E symbol, and aligns to the right
and bottom margins. A logo is not required
on the back side of small formats.</p>
<div class="row">
<div class="col-md-7">
<p><strong>Page layout</strong></p>
<p>In this layout, the secondary graphic totals
20 square units wide – scaled as shown – and
aligns to the right edge. The height of the
larger shape may be adjusted to allow for
larger photos or additional copy. Do not move
the graphic left or right. Titles should always
be placed in the larger square.</p>
</div>

<div class="col-md-5">
<p><img src="img/print-small-horz-1.png" alt="Small formats horizontal" class="img-responsive center-block" /></p>
</div>
</div>

<div class="row">
<div class="col-md-4">


<p><strong>Photo sample</strong></p>
<p>The larger square in the secondary graphic
can include a photo. Titles, subtitles and body
copy may shift up or down within the shape,
but should always align to the left margin. In
this layout, titles should be a solid red from
the approved palette, no tints.</p>
<p>The background may be white, the approved
pattern, or a tinted neutral color (see <a href="elements-bg-pattern.aspx" target="_blank">backgrounds page</a>). The bottom edge of the background
should align to a horizontal line within the E
symbol.</p>
</div>

<div class="col-md-8">
<p><img src="img/print-small-horz-2.png" alt="Small formats horizontal" class="img-responsive center-block" /></p>
</div>
</div>
    
<p><strong>Cropped secondary graphic</strong></p>
<p>The secondary graphic may be made shorter
to allow for additional content. The title
should appear in the graphic.</p>
<p><em>Note: The type sizes shown are recommendations.
Type sizes may be adjusted if necessary.</em></p>
    
    </div>
    
    
    
  </div>
  
  
  
  

    </div>

  
    </div>
    
    
    
  <div class="col-md-3 col-md-pull-9">
  
<!-- #include file="sidemenu-branding.html" -->
  
  
  </div>
    
    
 </div>
 
 </div>
 </div>  <!-- end page -->
 
 
 
<!-- #include file="footer.html" --> 

  
  
</div> <!-- /wrapper -->

<!-- #include file="meta-bottom.html" --> 
</body>
</html>
