﻿<div class="panel-group" id="submenu-accordion">
  	<div class="panel panel-default">
  <!-- Default panel contents -->
 
  
  
  
  	<div class="panel panel-default">
   <div class="panel-heading"><a href="#exterior-submenu" data-toggle="collapse" class="submenulink accordion-toggle" data-parent="#submenu-accordion">Exterior</a></div>

  <!-- List group -->
 <ul class="list-group panel-collapse collapse" id="exterior-submenu">
    <li class="list-group-item"><a href="exterior.aspx" class="exterior">Entry signage</a></li>
    <li class="list-group-item"><a href="exterior.aspx#btop" class="top+">Building top</a></li>
    <li class="list-group-item"><a href="exterior.aspx#eyebrow" class="eyebrow+">Eyebrow</a></li>
    <li class="list-group-item"><a href="exterior.aspx#monument" class="monument+">Monument</a></li>
    <li class="list-group-item"><a href="exterior.aspx#flags" class="flags+">Flags</a></li>
  </ul> 
  
  </div>
  
  
  	<div class="panel panel-default">
  
  <div class="panel-heading"><a href="#interior-submenu" data-toggle="collapse" class="submenulink accordion-toggle" data-parent="#submenu-accordion">Interior</a></div>


  <!-- List group -->
 <ul class="list-group panel-collapse collapse" id="interior-submenu">
    <li class="list-group-item"><a href="interior.aspx" class="interior">Identity & messaging hierarchy</a></li>
    <li class="list-group-item"><a href="interior.aspx#tabs-2" class="lobby+">Lobby logo sign</a></li>
    <li class="list-group-item"><a href="interior.aspx#tabs-3" class="monitor+">Monitor</a></li>
  </ul> 
  </div>
  
  
  	<div class="panel panel-default">
 
  <div class="panel-heading"><a href="#culture-submenu" data-toggle="collapse" class="submenulink accordion-toggle" data-parent="#submenu-accordion">Edwards culture</a></div>

  <!-- List group -->
 <ul class="list-group panel-collapse collapse" id="culture-submenu">
    <li class="list-group-item"><a href="culture.aspx#credo" class="culture+credo">Credo</a></li>
    <li class="list-group-item"><a href="culture.aspx" class="culture">Secret Sauce</a></li>
    <li class="list-group-item"><a href="culture.aspx#aspirations" class="culture+aspirations">Aspirations</a></li>
  </ul> 

</div>




  	<div class="panel panel-default">
  <div class="panel-heading"><a href="#public-submenu" data-toggle="collapse" class="submenulink accordion-toggle" data-parent="#submenu-accordion">Edwards humanity</a></div>

  <!-- List group -->
 <ul class="list-group panel-collapse collapse" id="public-submenu">
    <li class="list-group-item"><a href="public.aspx" class="public">Corporate ad</a></li>
    <li class="list-group-item"><a href="public.aspx#elevator" class="elevator+">Elevator wraps</a></li>
    <li class="list-group-item"><a href="public.aspx#timeline" class="timeline+">Timeline</a></li>
  </ul> 
</div>



  	<div class="panel panel-default">

  <div class="panel-heading"><a href="#corp-policy-statements-submenu" data-toggle="collapse" class="submenulink accordion-toggle" data-parent="#submenu-accordion">Corporate policy statements</a></div>

  <!-- List group -->
 <ul class="list-group panel-collapse collapse" id="corp-policy-statements-submenu">
    <li class="list-group-item"><a href="corp-policy-statements.aspx" class="corp-policy-statements">Quality</a></li>
    <li class="list-group-item"><a href="corp-policy-statements.aspx#ehs" class="ehs+">Environmental Health & Safety</a></li>
  </ul> 
  
 </div>


  	<div class="panel panel-default">

  <div class="panel-heading"><a href="#corp-initiatives-submenu" data-toggle="collapse" class="submenulink accordion-toggle" data-parent="#submenu-accordion">Corporate initiatives</a></div>

  <!-- List group -->
 <ul class="list-group panel-collapse collapse" id="corp-initiatives-submenu">
    <li class="list-group-item"><a href="corp-initiatives.aspx#speakup" class="corp-initiatives">Speak up</a></li>
    <li class="list-group-item"><a href="corp-initiatives.aspx" class="safe+">SAFE</a></li>
    <li class="list-group-item"><a href="corp-initiatives.aspx#diversity" class="diversity+">Diversity</a></li>
  </ul> 

  </div>
  
  
    	<div class="panel panel-default">
 
  <div class="panel-heading"><a href="#mural-submenu" data-toggle="collapse" class="submenulink accordion-toggle" data-parent="#submenu-accordion">Life is Now</a></div>

  <!-- List group -->
 <ul class="list-group panel-collapse collapse" id="mural-submenu">
    <li class="list-group-item"><a href="mural.aspx" class="mural">Life is Now</a></li>
  </ul> 

</div>

<div class="panel panel-default">
 
  <div class="panel-heading"><a href="#signage-submenu" data-toggle="collapse" class="submenulink accordion-toggle" data-parent="#submenu-accordion">Department signage</a></div>

  <!-- List group -->
 <ul class="list-group panel-collapse collapse" id="signage-submenu">
    <li class="list-group-item"><a href="department-signage.aspx" class="department-signage">Department messaging</a></li>
    <li class="list-group-item"><a href="department-signage.aspx#tabs-2" class="monitor+">Shared workspaces</a></li>
  </ul> 

</div>

<div class="panel panel-default">
 
  <div class="panel-heading"><a href="#internal-comm-submenu" data-toggle="collapse" class="submenulink accordion-toggle" data-parent="#submenu-accordion">Internal communication</a></div>

  <!-- List group -->
 <ul class="list-group panel-collapse collapse" id="internal-comm-submenu">
    <li class="list-group-item"><a href="internal-comm.aspx" class="internal-comm">Templates</a></li>
  </ul> 

</div>

<div class="panel panel-default">
 
  <div class="panel-heading"><a href="#display-specs-submenu" data-toggle="collapse" class="submenulink accordion-toggle" data-parent="#submenu-accordion">Display specifications</a></div>

  <!-- List group -->
 <ul class="list-group panel-collapse collapse" id="display-specs-submenu">
    <li class="list-group-item"><a href="display-specs.aspx" class="display-specs">Framing display</a></li>
    <li class="list-group-item"><a href="display-specs.aspx#tabs-2" class="acrylic+">Acrylic display</a></li>
    <li class="list-group-item"><a href="display-specs.aspx#tabs-3" class="hardware+">Acrylic document holders</a></li>
  </ul> 

</div>

<div class="panel panel-default">
 
  <div class="panel-heading"><a href="#brand-standards-submenu" data-toggle="collapse" class="submenulink accordion-toggle" data-parent="#submenu-accordion">Branding standards</a></div>

  <!-- List group -->
 <ul class="list-group panel-collapse collapse" id="brand-standards-submenu">
    <li class="list-group-item"><a href="brand-standards.aspx" class="brand-standards">Logo basics</a></li>
    <li class="list-group-item"><a href="brand-standards.aspx#tabs-2" class="font+">Font usage</a></li>
  </ul> 

</div>

<div class="panel panel-default">
 
  <div class="panel-heading"><a href="#facilities-standards-submenu" data-toggle="collapse" class="submenulink accordion-toggle" data-parent="#submenu-accordion">Color</a></div>

  <!-- List group -->
 <ul class="list-group panel-collapse collapse" id="facilities-standards-submenu">
    <li class="list-group-item"><a href="facilities-standards.aspx" class="facilities-standards">Graphics color & paint palette</a></li>
    <li class="list-group-item"><a href="assets/Edwards Lifesciences Standards Manual 8-16-18.xlsx">Facilities resource guide</a></li>
  </ul> 

</div>

  
  
</div>