﻿<div class="panel-group" id="submenu-accordion">
  	<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><a href="#content-submenu" data-toggle="collapse" class="submenulink accordion-toggle" data-parent="#submenu-accordion">Contents</a></div>

  <!-- List group -->
  <ul class="list-group panel-collapse collapse" id="content-submenu">
    <li class="list-group-item"><a href="contents.aspx" class="contents-one-edwards">One Edwards</a></li>
    <li class="list-group-item"><a href="contents-foundation.aspx" class="contents-foundation">Brand foundation</a></li>
    <li class="list-group-item"><a href="contents-turning.aspx" class="contents-turning">Turning the inside out</a></li>
    <li class="list-group-item"><a href="contents-corp-nomen.aspx" class="contents-corp-nomen">Corporate nomenclature</a></li>
    <li class="list-group-item"><a href="contents-dig.aspx" class="contents-dig">Digital content</a></li>
    <li class="list-group-item"><a href="contents-secondary.aspx" class="contents-secondary">Secondary campaigns</a></li>
    <li class="list-group-item"><a href="contents-awareness.aspx" class="contents-awareness">Awareness branding</a></li>
    <li class="list-group-item"><a href="contents-cobranding.aspx" class="contents-cobranding">Co-branded &amp; unbranded materials</a></li>
    <li class="list-group-item"><a href="contents-reg.aspx" class="contents-reg">Regulatory &amp; legal requirements</a></li>
    <li class="list-group-item"><a href="contents-address.aspx" class="contents-address">Address lines</a></li>
    <li class="list-group-item"><a href="contents-visual.aspx" class="contents-visual">Visual representation</a></li>
  </ul>
  </div>
  
  
  
  	<div class="panel panel-default">
   <div class="panel-heading"><a href="#elements-submenu" data-toggle="collapse" class="submenulink accordion-toggle" data-parent="#submenu-accordion">Basic elements</a></div>

  <!-- List group -->
 <ul class="list-group panel-collapse collapse" id="elements-submenu">
    <li class="list-group-item"><a href="elements.aspx" class="elements-logo">Logo usage</a></li>
    <li class="list-group-item"><a href="elements-color.aspx" class="elements-color">Color</a></li>
    <li class="list-group-item"><a href="elements-type.aspx" class="elements-type">Typography</a></li>
    <li class="list-group-item"><a href="elements-photo.aspx" class="elements-photo">Photography</a></li>
    <li class="list-group-item"><a href="elements-image-library.aspx" class="elements-image-library">Image library</a></li>
    <li class="list-group-item"><a href="elements-secondary.aspx" class="elements-secondary">Secondary graphic</a></li>
    <li class="list-group-item"><a href="elements-bg-pattern.aspx" class="elements-bg-pattern">Backgrounds</a></li>
  </ul> 
  
  </div>
  
  
  	<div class="panel panel-default">
  
  <div class="panel-heading"><a href="#print-submenu" data-toggle="collapse" class="submenulink accordion-toggle" data-parent="#submenu-accordion">Print collateral</a></div>


  <!-- List group -->
 <ul class="list-group panel-collapse collapse" id="print-submenu">
    <li class="list-group-item"><a href="print-covers.aspx" class="print-covers">Covers</a></li>
    <li class="list-group-item"><a href="print-content-sheets.aspx" class="print-content-sheets">Content sheets</a></li>
    <li class="list-group-item"><a href="print-interior.aspx" class="print-interior">Interior layouts</a></li>
    <li class="list-group-item"><a href="print-back-pages.aspx" class="print-back-pages">Back page</a></li>
    <li class="list-group-item"><a href="print-pamphlets.aspx" class="print-pamphlets">Pamphlets</a></li>
    <li class="list-group-item"><a href="print-small-formats.aspx" class="print-small-formats">Small formats</a></li>
    <li class="list-group-item"><a href="print-postcards.aspx" class="print-postcards">Postcards</a></li>
    <li class="list-group-item"><a href="print-posters.aspx" class="print-posters">Posters</a></li>
    <li class="list-group-item"><a href="print-cert.aspx" class="print-cert">Certificates</a></li>
    <li class="list-group-item"><a href="print-circular.aspx" class="print-circular">Circular formats</a></li>
    <li class="list-group-item"><a href="print-other-sizes.aspx" class="print-other-sizes">Other sizes</a></li>
    <li class="list-group-item"><a href="print-word.aspx" class="print-word">Collateral in Microsoft Word</a></li>
  </ul> 
  </div>
  
  
  	<div class="panel panel-default">
 
  <div class="panel-heading"><a href="#ads-submenu" data-toggle="collapse" class="submenulink accordion-toggle" data-parent="#submenu-accordion">Advertising</a></div>

  <!-- List group -->
 <ul class="list-group panel-collapse collapse" id="ads-submenu">
    <li class="list-group-item"><a href="ads-single.aspx" class="ads-single">Single page print ads</a></li>
    <li class="list-group-item"><a href="ads-print.aspx" class="ads-print">Print ad spreads</a></li>
    <li class="list-group-item"><a href="ads-lg-format.aspx" class="ads-lg-format">Large format ads</a></li>
  </ul> 

</div>




  	<div class="panel panel-default">
  <div class="panel-heading"><a href="#dig-submenu" data-toggle="collapse" class="submenulink accordion-toggle" data-parent="#submenu-accordion">Digital media</a></div>

  <!-- List group -->
 <ul class="list-group panel-collapse collapse" id="dig-submenu">
    <li class="list-group-item"><a href="dig-ads.aspx" class="dig-ads">Digital ads</a></li>
    <li class="list-group-item"><a href="dig-websites.aspx" class="dig-websites">Websites</a></li>
    <li class="list-group-item"><a href="dig-practices.aspx" class="dig-practices">SEO / HTML best practices</a></li>
    <li class="list-group-item"><a href="dig-apps.aspx" class="dig-apps">Apps</a></li>
    <li class="list-group-item"><a href="dig-emails.aspx" class="dig-emails">Emails</a></li>
    <li class="list-group-item"><a href="dig-video.aspx" class="dig-video">Videos &amp; animations</a></li>
    <li class="list-group-item"><a href="dig-pp.aspx" class="dig-pp">PowerPoint presentations</a></li>
  </ul> 
</div>



  	<div class="panel panel-default">

  <div class="panel-heading"><a href="#env-submenu" data-toggle="collapse" class="submenulink accordion-toggle" data-parent="#submenu-accordion">Environmental graphics</a></div>

  <!-- List group -->
 <ul class="list-group panel-collapse collapse" id="env-submenu">
    <li class="list-group-item"><a href="env-banners.aspx" class="env-banners">Banners</a></li>
    <li class="list-group-item"><a href="env-trade.aspx" class="env-trade">Trade shows</a></li>
  </ul> 
  
 </div>


  	<div class="panel panel-default">

  <div class="panel-heading"><a href="#pat-submenu" data-toggle="collapse" class="submenulink accordion-toggle" data-parent="#submenu-accordion">Patient awareness</a></div>

  <!-- List group -->
 <ul class="list-group panel-collapse collapse" id="pat-submenu">
    <li class="list-group-item"><a href="pat-color.aspx" class="pat-color">Color & typography</a></li>
  </ul> 

  </div>
  
  
    

  
  
</div>