body {
  margin: 0;
  padding: 0;
  font-family: arial;
  color: #444;
}
a {
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}
.lr-clear,
#lr-pop-group .lr-popup-container #lr-popup-body-container {
  *zoom: 1;
}
.lr-clear:before,
#lr-pop-group .lr-popup-container #lr-popup-body-container:before {
  content: " ";
  display: table;
}
.lr-clear:after,
#lr-pop-group .lr-popup-container #lr-popup-body-container:after {
  content: " ";
  display: table;
  clear: both;
}
.lr-raas-button {
  display: inline-block;

  border-radius: 5px;

  -webkit-transition: all 200ms ease-in-out;
          transition: all 200ms ease-in-out;
}
.lr-raas-button:hover {
  text-decoration: none;
}
.lr-raas-button.shaded {
  box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.3), inset 0 -10px 20px -1px rgba(0,0,0,0.1), inset 0 -1px 0 rgba(0,0,0,0.1);
}
.lr-raas-button.shaded:hover {
  box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.3), inset 0 -10px 20px 3px rgba(0,0,0,0.1), inset 0 -1px 0 rgba(0,0,0,0.1), 0 5px 5px -2px rgba(0,0,0,0.3);
}
#lr-pop-group {
  text-align: center;
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 400ms ease-in-out;
          transition: all 400ms ease-in-out;
}
#lr-pop-group.lr-show-layover {
  visibility: visible;
  opacity: 1;
  z-index: 10001;
  top: 0;
}
.lr-popup-message {
    font-size: 16px;
    line-height: 20px;
    font-size: 1rem;
    line-height: 1.25rem;
    margin: 15px 30px;
    padding: 10px 20px !important;
    border: 1px solid #b00e29 !important;
    border-radius: 5px;
    color: #fff;
    position: relative;
    background-color: #c8102e;
}

@media only screen and (max-width: 790px) {
  #lr-pop-group {
    padding: 10px;
  }
}
#lr-pop-group:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
}
#lr-pop-group #lr-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  background: #666;
  width: 100%;
  height: 100%;
  left: 0;
  opacity: 0.6;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 200ms ease-in-out;
          transition: all 200ms ease-in-out;
}
#lr-pop-group #lr-overlay.lr-show-layover {
  visibility: visible;
  opacity: 0.6;
}
#lr-pop-group .lr-popup-container {
  border-radius: 5px;
  overflow: hidden;
  text-align: left;
  background: #fff;
  width: 100%;
  max-width: 500px;/*max-width: 780px;*/
  position: relative;
  z-index: 300;
  box-shadow: 0 10px 8px -5px rgba(0,0,0,0.1);
  vertical-align: middle;
  display: none;
  visibility: hidden;
  height: 0;
  opacity: 0;
  -webkit-transition: all 400ms ease-in-out;
          transition: all 400ms ease-in-out;
}
#lr-pop-group .lr-popup-container.lr-show {
  display: inline-block;
  visibility: visible;
  opacity: 1;
  height: auto;
}
#lr-pop-group .lr-popup-container .lr-popup-header {
  position: relative;
  padding: 15px 30px;
  font-size: 20px;
  line-height: 30px;
  font-size: 1.25rem;
  line-height: 1.875rem;
  border-bottom: 1px solid #eee;
  background: #fafafa;
}
#lr-pop-group .lr-popup-container .lr-popup-header .lr-popup-close-span {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
}
#lr-pop-group .lr-popup-container .lr-popup-header .lr-popup-close-span .lr-popup-close-btn {
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 16px;
  line-height: 60px;
  font-size: 1rem;
  line-height: 3.75rem;
  padding: 0 30px;
  height: 100%;
  -webkit-transition: all 200ms ease-in-out;
          transition: all 200ms ease-in-out;
}
#lr-pop-group .lr-popup-container .lr-popup-header .lr-popup-close-span .lr-popup-close-btn:hover {
  text-decoration: none;
  background: #6c7a89;
  color: #fff;
}
#lr-pop-group .lr-popup-container .lr-popup-header .lr-header-logo .lr-header-logo-img {
  display: inline-block;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  width: 28px;
  height: 28px;
  margin-right: 5px;
}
#lr-pop-group .lr-popup-container .lr-popup-header .lr-header-logo .lr-header-logo-img[src=""] {
  display: none;
}
#lr-pop-group .lr-popup-container .lr-popup-header .lr-header-logo .lr-header-caption {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}
#lr-pop-group .lr-popup-container #lr-popup-body-container .lr-column {
  width: 100%;/*width: 40%;*/
  float: left;
  padding: 30px;
  padding-top: 15px;
  box-sizing: border-box;
  position: relative;
}
#lr-pop-group .lr-popup-container #lr-popup-body-container .lr-column + .lr-column {
  width: 60%;
  border-left: 1px solid #eee;
}
#lr-pop-group .lr-popup-container #lr-popup-body-container .lr-column + .lr-column:before {
  content: "or";
  position: absolute;
  width: 20px;
  height: 20px;
  left: -10px;
  top: 50%;
  margin-top: -10px;
  background: #fff;
  border: 1px solid #eee;
  font-size: 14px;
  line-height: 20px;
  font-size: 0.875rem;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  color: #ccc;
  font-weight: bold;
}
@media only screen and (max-width: 640px) {
  #lr-pop-group .lr-popup-container #lr-popup-body-container .lr-column {
    width: 100%;
  }
  #lr-pop-group .lr-popup-container #lr-popup-body-container .lr-column + .lr-column {
    width: 100%;
    border: none;
  }
  #lr-pop-group .lr-popup-container #lr-popup-body-container .lr-column + .lr-column:before {
    content: none;
  }
}
#lr-pop-group .lr-popup-container #lr-popup-body-container #forgotpassword-div {
  padding: 30px;
}
#lr-pop-group .lr-popup-container #lr-popup-body-container #login-div #lr-popup-footer {
  position: absolute;
  bottom: 40px;
}
#lr-pop-group .lr-popup-container #lr-popup-body-container #login-div #lr-popup-footer a {
  margin-right: 10px;
  font-size: 14px;
  line-height: 30px;
  font-size: 0.875rem;
  line-height: 1.875rem;
}
#lr-pop-group #lr-fp-container #lr-popup-footer {
  position: absolute;
  bottom: 35px;
}
.lr-popup-footer a {
  color: #29d;
  text-decoration: underline;
}
.lr-popup-append-link {
  float: right;
  padding-right: 20px;
}
#sociallogin-container {
  padding: 30px;
}

.interfacecontainerdiv{
    display: none !important;
}