/* CSS Document 
EDWARDS LIFESCIENCES Stylesheet
Author: Digital Marketing Strategy Team
*/

/* merriweather-sans-300 - latin */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 300;
  src: url('fonts//merriweather-sans-v9-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Merriweather Sans Light'), local('MerriweatherSans-Light'),
       url('fonts//merriweather-sans-v9-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts//merriweather-sans-v9-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts//merriweather-sans-v9-latin-300.woff') format('woff'), /* Modern Browsers */
       url('fonts//merriweather-sans-v9-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts//merriweather-sans-v9-latin-300.svg#MerriweatherSans') format('svg'); /* Legacy iOS */
}
/* merriweather-sans-300italic - latin */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-weight: 300;
  src: url('fonts//merriweather-sans-v9-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local('Merriweather Sans Light Italic'), local('MerriweatherSans-LightItalic'),
       url('fonts//merriweather-sans-v9-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts//merriweather-sans-v9-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts//merriweather-sans-v9-latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('fonts//merriweather-sans-v9-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts//merriweather-sans-v9-latin-300italic.svg#MerriweatherSans') format('svg'); /* Legacy iOS */
}
/* merriweather-sans-regular - latin */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts//merriweather-sans-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Merriweather Sans'), local('MerriweatherSans-Regular'),
       url('fonts//merriweather-sans-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts//merriweather-sans-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts//merriweather-sans-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts//merriweather-sans-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts//merriweather-sans-v9-latin-regular.svg#MerriweatherSans') format('svg'); /* Legacy iOS */
}
/* merriweather-sans-italic - latin */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-weight: 400;
  src: url('fonts//merriweather-sans-v9-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Merriweather Sans Italic'), local('MerriweatherSans-Italic'),
       url('fonts//merriweather-sans-v9-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts//merriweather-sans-v9-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts//merriweather-sans-v9-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('fonts//merriweather-sans-v9-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts//merriweather-sans-v9-latin-italic.svg#MerriweatherSans') format('svg'); /* Legacy iOS */
}
/* merriweather-sans-700 - latin */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 700;
  src: url('fonts//merriweather-sans-v9-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Merriweather Sans Bold'), local('MerriweatherSans-Bold'),
       url('fonts//merriweather-sans-v9-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts//merriweather-sans-v9-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts//merriweather-sans-v9-latin-700.woff') format('woff'), /* Modern Browsers */
       url('fonts//merriweather-sans-v9-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts//merriweather-sans-v9-latin-700.svg#MerriweatherSans') format('svg'); /* Legacy iOS */
}
/* merriweather-sans-700italic - latin */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-weight: 700;
  src: url('fonts//merriweather-sans-v9-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Merriweather Sans Bold Italic'), local('MerriweatherSans-BoldItalic'),
       url('fonts//merriweather-sans-v9-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts//merriweather-sans-v9-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts//merriweather-sans-v9-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('fonts//merriweather-sans-v9-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts//merriweather-sans-v9-latin-700italic.svg#MerriweatherSans') format('svg'); /* Legacy iOS */
}
/* merriweather-sans-800 - latin */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 800;
  src: url('fonts//merriweather-sans-v9-latin-800.eot'); /* IE9 Compat Modes */
  src: local('Merriweather Sans ExtraBold'), local('MerriweatherSans-ExtraBold'),
       url('fonts//merriweather-sans-v9-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts//merriweather-sans-v9-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts//merriweather-sans-v9-latin-800.woff') format('woff'), /* Modern Browsers */
       url('fonts//merriweather-sans-v9-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts//merriweather-sans-v9-latin-800.svg#MerriweatherSans') format('svg'); /* Legacy iOS */
}
/* merriweather-sans-800italic - latin */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-weight: 800;
  src: url('fonts//merriweather-sans-v9-latin-800italic.eot'); /* IE9 Compat Modes */
  src: local('Merriweather Sans ExtraBold Italic'), local('MerriweatherSans-ExtraBoldItalic'),
       url('fonts//merriweather-sans-v9-latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts//merriweather-sans-v9-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts//merriweather-sans-v9-latin-800italic.woff') format('woff'), /* Modern Browsers */
       url('fonts//merriweather-sans-v9-latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts//merriweather-sans-v9-latin-800italic.svg#MerriweatherSans') format('svg'); /* Legacy iOS */
}


/* Generated by Font Squirrel (https://www.fontsquirrel.com) on February 14, 2017 */

/* latin */
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url(https://fonts.gstatic.com/s/droidsans/v6/s-BiyweUPV0v-yRb-cjciPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+30-39;}
/* latin */
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Sans Bold'), local('DroidSans-Bold'), url(https://fonts.gstatic.com/s/droidsans/v6/EFpQQyG9GqCrobXxL-KRMYWiMMZ7xLd792ULpGE4W_Y.woff2) format('woff2');
  unicode-range: U+30-39;}


body {
	display: none;
	font-family: 'Merriweather Sans', sans-serif;
}





/* icon fonts */

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?hzun9b');
  src:  url('fonts/icomoon.eot?hzun9b#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?hzun9b') format('truetype'),
    url('fonts/icomoon.woff?hzun9b') format('woff'),
    url('fonts/icomoon.svg?hzun9b#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align:middle;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
  content: "\e905";
}
.icon-image:before {
  content: "\e90d";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-film:before {
  content: "\e913";
}
.icon-file-empty:before {
  content: "\e924";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-file-picture:before {
  content: "\e927";
}
.icon-file-zip:before {
  content: "\e92b";
}
.icon-folder-download:before {
  content: "\e933";
}
.icon-folder-upload:before {
  content: "\e934";
}
.icon-phone:before {
  content: "\e942";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-location:before {
  content: "\e947";
}
.icon-printer:before {
  content: "\e954";
}
.icon-display:before {
  content: "\e956";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-box-add:before {
  content: "\e95e";
}
.icon-box-remove:before {
  content: "\e95f";
}
.icon-download:before {
  content: "\e960";
}
.icon-upload:before {
  content: "\e961";
}
.icon-undo:before {
  content: "\e965";
}
.icon-redo:before {
  content: "\e966";
}
.icon-user:before {
  content: "\e971";
}
.icon-users:before {
  content: "\e972";
}
.icon-search:before {
  content: "\e986";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-pause2:before {
  content: "\ea1d";
}
.icon-stop2:before {
  content: "\ea1e";
}
.icon-backward2:before {
  content: "\ea1f";
}
.icon-forward3:before {
  content: "\ea20";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-share2:before {
  content: "\ea82";
}
.icon-mail4:before {
  content: "\ea86";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-google-plus2:before {
  content: "\ea8c";
}
.icon-google-plus3:before {
  content: "\ea8d";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-file-pdf:before {
  content: "\eadf";
}


/* ===========================================
   SmoothState styling
   =========================================== */
.m-scene .scene-main {
  -webkit-animation-duration: .25s;
          animation-duration: .25s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.m-scene .scene-main--fadein {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}
.m-scene.is-exiting .scene-main {
  -webkit-animation-direction: alternate-reverse;
          animation-direction: alternate-reverse;
}
.m-scene .scene-nav {
  -webkit-animation-duration: .25s;
          animation-duration: .25s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: width;
          animation-name: width;
}
.m-scene.is-exiting .scene-nav {
  -webkit-animation-direction: alternate-reverse;
          animation-direction: alternate-reverse;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes width {
  0% {
    width: 300px;
  }
  100% {
    width: 50vw;
  }
}
@keyframes width {
  0% {
    width: 300px;
  }
  100% {
    width: 50vw;
  }
}

/* markup */

.pad10 {padding-bottom: 10px;}

.pad20 {padding-bottom: 20px;}

.pad30 {padding-bottom: 30px;}

.pad40 {padding-bottom: 40px;}

.pad50 {padding-bottom: 50px;}

.marg0 {margin-bottom: 0px;}

.marg10 {margin-bottom: 10px;}

.marg20 {margin-bottom: 20px;}

.marg30 {margin-bottom: 30px;}

.marg40 {margin-bottom: 40px;}

.marg50 {margin-bottom: 50px;}


/* general */

.panel.panel-default {
    border: none !important;
}

.addthis_toolbox a {
     margin-bottom: 0 !important; 
}

.share-email {
	float:right;
	margin-left: 18px;
	line-height: 1.5; 
	font-size: 20px;
}



.btn-share {
	font-size: 20px;
	float:right;
	margin-left: 18px;
}

.btn-share > i {
	vertical-align:middle;
}

.share-email .btn-share {
	margin-left: 0;
}

.btn-share:hover, .btn-share:visited, .btn-share:active, .btn-share:focus {
	text-decoration:none;
}

.share-txt {
	font-size: 12px;
}

div {
	margin: 0;
	padding: 0;
	position:relative;
}


#edwards-wrapper {
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
}

.edw-menu a, .btn, .social a {
	transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
}


.edw-gray-bg {
	background: rgba(137,141,141,.15);
	padding: 40px 0;
}

.edw-red {
	color: #c8102e;
}

.edw-titan {
	color: #898d8d;
}

.edw-border {
  outline: 1px solid rgba(137, 141, 141, 0.25);
}

.h1, .h2, .h3, h1, h2, h3 {
}

.edw-media h1,
.edw-media h2,
.edw-media h3,
.edw-media h4,
.edw-media h5,
.edw-media h6 {
	margin-top: 0;
}

.dot-borders > [class*="col-"] {
	border-left: 1px dotted rgba(183,176,156, .75);
	padding: 0 30px;
}

.dot-borders > [class*="col-"]:first-child {
	border: none;
}

#hvt-overview  .container-fluid  {
  padding: 40px 15px;
}

#home  .container-fluid  {
	padding: 40px 15px;
}

#home  [class*="col-"] p:last-of-type {
	margin-bottom: 0;
}

#hvt-overview [class*="col-"] h1, #hvt-overview [class*="col-"] h2, #hvt-overview [class*="col-"] h3, #hvt-overview [class*="col-"] h4, #hvt-overview [class*="col-"] h5

#home [class*="col-"] h1, #home [class*="col-"] h2, #home [class*="col-"] h3, #home [class*="col-"] h4, #home [class*="col-"] h5 {
	margin-top: 0;
}
/* header/top navigation */

.navbar-edw {
	border-radius: 0;
	height: 85px;
	margin-bottom: 0;
	border: none;
}

.edw-logo {
	padding: 19px 0;
	display: inline-block;
	position:relative;
	z-index: 1000;
}

.edw-menu {
    border: none;
    float: right;
    margin: 46px 0 0 0;
	list-style: none;
} 

.edw-menu > li {
	display: inline-block;
	position:relative;
	white-space: nowrap;
	padding: 0px;
}

.edw-menu > li > a {
	display: inline-block;
	color: #fff;
	font-size: 16px;
	text-decoration:none;
	cursor: default;
	padding: 6px 18px;
	border-bottom: 3px solid transparent;
}

.edw-menu > li:not(.dropthis) > a {
	cursor: pointer;
}

.edw-menu > li > a .glyphicon {
	font-size: 12px;
	margin-left: 5px;
}

.edw-menu > li > a:hover, .edw-menu > li.active-link {
	background:#898d8d;
}

.edw-submenu {
	display: none;
	z-index: 100;
	position:absolute;
	top: 100%;
	left: 0;
	min-width: 100%;
	width: auto;
	background:#898d8d;
}

.edw-menu .edw-submenu li a {
	color: #fff;
	font-size: 14px;
	text-decoration: none;
	display:block;
	padding: 10px 35px 10px 22px;
	border-bottom: 1px solid rgba(255,255,255,.2);
}

.edw-menu .edw-submenu li a:hover {
	background: rgba(255,255,255,.2);
}

.edw-menu .edw-submenu > li {
	padding: 0;
	margin: 0;
}

.edw-menu .edw-submenu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.edw-menu > li > a.selected {
	border-bottom: 3px solid #cf4520;
}

.edw-menu > li > a.selected:hover  {
	background: none;
}


.dropdown-col {
	width: 32%;
	float:left;
	padding: 0 24px;
}

.edw-circle-icon {
	display: inline-block;
    border-radius: 50%;
    border: 2px solid rgba(137,141,141,.75);
    color: rgba(137,141,141,.75);
    font-size: 36px;
    width: 70px;
    height: 70px;
	text-align:center;
	line-height: 70px;
	vertical-align:middle;
}

.edw-circle-icon:before {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.modal-open {
    overflow-y: scroll;
	margin-right: 0 !important;
	padding-right: 0 !important;
}

.home-credo {
	background: url(../img/home-credo-section.png) no-repeat left top;
	background-size: contain;
}

.home-one {
	background-image: url(../img/home-edwards-one.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.nomargin {
	margin: 0 !important;
}

/* multi menus */


.edw-menu .edw-submenu .multi-menu li a {
    border-bottom: none;
    padding: 5px 35px 5px 22px;
    cursor: pointer;
}

.edw-menu .edw-submenu .multi-menu li.title a {
    color: #fee2cc;
    font-size: 16px;
    background: none;
}

.edw-menu .edw-submenu .multi-menu li.title a:hover {
    transition: all .2s ease-in-out;
    color: #d3bba8;
    background: none;
}

.edw-menu .edw-submenu .multi-menu {
    margin: 10px 0px;
}

.edw-menu .edw-submenu .multi-menu .col-sm-12 {
    padding:0px;
}

.red-border {
    border-right: 1px solid #c8102e;
}


/* tables */

.table-primary thead tr th{
background-color:#809fb5;
color:white;
border-bottom:none;
}

.table-primary tbody tr td {
background-color:#eeeeee;
}

.table-primary tbody tr {
border-bottom:1px solid white;
}

.table-striped th, .table td {
    border: 1px !important;
}

.table-striped thead {
  background-color: #a39382;
  color: #fff;
}

.table>tbody>tr>td {
  border-top: none;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #ffffff;
}

.table-striped>tbody>tr:nth-of-type(even) {
  background-color: rgba(163, 147, 130, 0.25);
}

/* carousel */

.carousel-control.left, .carousel-control.right {
  background-image: none;
}

.carousel-control {
  opacity: 1;
  color: #c8102e;
}

.carousel-control:hover, .carousel-control:active, .carousel-control:active:focus {
  color: #8a2a2b;
}

.carousel-control:focus, .carousel-control:visited {
  color: #c8102e;
}

.edw-tabslider > .pane:nth-child(odd) .carousel {
    background:#ffffff;
}

.edw-tabslider > .pane:nth-child(even) .carousel {
    background:#edeeee;
}



/* accordians */

.edw-tabslider .panel-primary {
  border: 0px;
  box-shadow: none;
}

.edw-tabslider > .pane:nth-child(odd) .panel-primary {
    border-color: transparent;
    background-color: transparent;
}

.edw-tabslider > .pane:nth-child(odd) .panel-primary >.panel-heading {
    background-color: #ffffff;
    color: #505759;
}

.edw-tabslider > .pane:nth-child(odd) .panel-primary>.panel-heading + .panel-collapse>.panel-body {
    border-top-color: transparent;
}

.edw-tabslider > .pane:nth-child(odd) .panel-primary .panel-heading.active {
  background-color: #c8102e;
  color:#ffffff;
  transition: .3s;
}

.edw-tabslider > .pane:nth-child(odd) .panel-primary .panel-heading {
  padding: 0px;
}

.edw-tabslider > .pane:nth-child(odd) .panel-primary .panel-title > a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
}

.edw-tabslider > .pane:nth-child(even) .panel-primary {
    border-color: transparent;
    background-color: transparent;
}

.edw-tabslider > .pane:nth-child(even) .panel-primary >.panel-heading {
    background-color: #edeeee;
    color: #505759;
}

.edw-tabslider > .pane:nth-child(even) .panel-primary>.panel-heading + .panel-collapse>.panel-body {
    border-top-color: transparent;
}

.edw-tabslider > .pane:nth-child(even) .panel-primary .panel-heading.active {
  background-color: #c8102e;
  color:#ffffff;
  transition: .3s;
}

.edw-tabslider > .pane:nth-child(even) .panel-primary .panel-heading {
  padding: 0px;
}

.edw-tabslider > .pane:nth-child(even) .panel-primary .panel-title > a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
}

.accordion-arrow {
  float: right;
  margin-top: 5px;
}

.side-box {
  height:10px;
  display: inline-block;
  width: 10px;
}

.side-box-red {
  background: #c8102e;
}

.side-box-brown {
  background: #b7b09c;
}

.side-box-gray {
  background: #8c8c8c;
}

.side-box-green {
  background: #94a596;
}

/* banners */

.banner-edw {
	background: transparent;
/*  	-webkit-box-shadow: 0 10px 8px -8px rgba(0,0,0,.4);
    -moz-box-shadow: 0 10px 8px -8px rgba(0,0,0,.4);
    box-shadow: 0 10px 8px -8px rgba(0,0,0,.4);*/
	padding: 0;
	min-height: 310px;
	height: 310px;
}

.banner-edw .container {
	padding: 0;
}

.banner-home {
	min-height: 410px;
	height: 410px;
	background: url('../img/home-banner.png') no-repeat;
}

.banner-facilities {
	background: url('../facilities/images/fac-banner2.jpg') no-repeat;
}



.banner-overview {
  min-height: 410px;
  height: 410px;
  background: url('../img/hvt-overview-desktop.png') no-repeat;
}

.banner-branding {
	background: url('../img/brand-banner.png') repeat;
}



.redboxes{
	width: 259px;
	height: 259px;
    position: absolute;
    top: 40px;
    left: 80px;
}

.redbox-lg {
	width: 237px;
	height: 237px;
    background: rgba(200,16,46,.85);
    padding: 24px;
	top: 0;
	right: 0;
	position:absolute;
}

.redbox-sm {
	position:absolute;
    width: 22px;
    height: 22px;
    background: rgba(200,16,46,1);
    position: absolute;
    bottom: 0;
    left: 0;
}

.redboxes-horz {
	width: 100%;
	height: 91px;
	margin-bottom: 45px;
}

.redbox-horz-lg {
	width: 76.05%;
	height: 69px;
    background: rgba(200,16,46,1);
    padding: 17px 20px;
	top: 0;
	right: 0;
	position:absolute;
}

.redbox-horz-sm {
	position:absolute;
    width: 22px;
    height: 22px;
    background: rgba(200,16,46,1);
    position: absolute;
    bottom: 0;
    left: calc(23.95% - 22px);
}

.redbox-horz-lg h1 {
	color: #fff;
	padding: 0;
	margin: 0;
	font-size: 31px;
	font-weight: normal;
	line-height: 1.1;
}


.banner-home .redboxes{
	width: 318px;
	height: 318px;
}

.banner-home .redbox-lg {
	width: 287px;
	height: 287px;
}

.banner-home .redbox-sm {
    width: 31px;
    height: 31px;
}

.banner-branding .redbox-lg {
    background: rgba(200,16,46,1);
}

.redbox-lg h1 {
	color: #fff;
	padding: 0;
	margin: 0;
	font-size: 32px;
	font-weight: normal;
	line-height: 1.1;
}



.grid-edw {
	border: none;
}

.home-down-btn {
	text-align:left !important;
}

.imagethumbs .caption {
    padding-top: 10px;
    margin-top: auto;
}

.imagethumbs .thumbnail {
  display: flex;
  flex-direction: column;
}

/* footer */

#footer {
	background: #505759;
	color: #fff;
	padding: 30px 0;
}

#footer .nav li {
	color: #fff;
	display: inline-block;
}

#footer .nav {
	margin-bottom: 12px;
}

#footer .nav li a {
	color: #fff;
	margin: 0 10px;
	padding: 0;
	display: inline-block;
}

#footer .nav li:first-child a {
	margin-left: 0;
}


#footer .nav li a:hover {
	background: none;
}

#footer .extramargin {
	margin-bottom: 20px;
}

#footer .social li a {
	background: #898d8d;
	width: 27px;
	height: 27px;
	text-align: center;
	margin: 0 2px;
	line-height: 27px;
	vertical-align:middle;
}

#footer .social li a:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#footer .social li a:hover {
	background: #a1a4a4;
}


.input-titan {
	background: #898d8d;
	color: #fff;
	border: 1px solid #898d8d;
	box-shadow: none;
	transition:none;
}

.input-titan::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
.input-titan::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
.input-titan:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
.input-titan:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

#custom-search-footer {
	margin-bottom: 20px;
}

/* sticky contact/contact form */

.stickycontact {
	position:fixed;
	top: 30%;
	transform: translateY(-30%);
	right: 0;
	z-index: 101;
}

.stickycontact-btn {
	display:block;
   -webkit-transform-origin: 100% 50%;
      -moz-transform-origin: 100% 50%;
       -ms-transform-origin: 100% 50%;
        -o-transform-origin: 100% 50%;
           transform-origin: 100% 50%;
   -webkit-transform: rotate(90deg) translate(100%, 50%);
      -moz-transform: rotate(90deg) translate(100%, 50%);
       -ms-transform: rotate(90deg) translate(100%, 50%);
        -o-transform: rotate(90deg) translate(100%, 50%);
           transform: rotate(90deg) translate(100%, 50%);
    padding: 10px 20px;
	background: #c8102e;
	color: #fff;
	text-decoration:none;
}

.stickycontact-btn:hover {
	text-decoration: none;
	color: #fff;
	background: #8a2a2b;
}

.stickycontact-btn:active, .stickycontact-btn:visited, .stickycontact-btn:focus {
	color: #fff;
	text-decoration: none;
	outline:none;
}

.stickyform {
	background: #eaeaea;
	padding: 30px;
	width: 500px;
	margin: 30px auto;
	box-shadow: 0 0 13px rgba(0,0,0,.3);
}


.close:focus {
	outline: none;
}

.modal.fade:not(.in).right .modal-dialog {
/*	-webkit-transform: translate3d(25%, 0, 0);
	transform: translate3d(25%, 0, 0);*/
}

.modal-form {
/*	bottom: auto;
	left: auto;
	padding: 0 !important;*/
}

.modal-open-form {
/*	overflow:auto;*/
}

/* marketo overrides */

.mktoForm {
	width: auto !important;
	font-family: "Merriweather Sans", sans-serif !important;
}

.mktoFormRow {
    margin-bottom: 15px !important;
	color: #898d8d !important;
}

.mktoForm .mktoFormCol {
	margin-bottom: 0 !important;
    float: none !important;
    min-height: auto !important;
}


.mktoForm .mktoFieldWrap {
    float: none !important;
}

.mktoField {
    font-size: 16px !important;
    line-height: 1.5 !important;
    display: block !important;
    width: 100% !important;
    height: 38px;
    padding: 6px 12px !important;
	float:none !important;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    color: #898d8d;
    border: 1px solid #ccc;
    border-radius: 0;
    background-color: #fff;
    background-image: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.mktoOffset, .mktoGutter, .mktoFormRow label {
	display: none;
}

.mktoButtonRow { 
    margin-bottom: 15px !important;
	display: block !important;
}

.mktoButtonWrap {
	margin: 0 !important;
}

.mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
    transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    color: #fff;
    background-color: #c8102e !important;
    border: 1px solid #c8102e !important;
    padding: 6px 18px !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    background-image: none !important;
    display: inline-block !important;
    margin-bottom: 0 !important;
    text-align: center !important;
    vertical-align: middle !important;
    white-space: nowrap !important;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.mktoForm textarea.mktoField {
    display: inline-block;
    padding: 6px 12px !important;
    margin: 0;
    line-height: 1.5em !important;
	height: 160px !important;
}

.mktoField::-moz-placeholder
{
    opacity: 1;
    color: #999;
}
.mktoField:-ms-input-placeholder
{
    color: #999;
}
.mktoField::-webkit-input-placeholder
{
    color: #999;
}
.mktoField::-ms-expand
{
    border: 0;
    background-color: transparent;
}

.mktoError {
	bottom: -30px !important;
}

.edw-mobile-menu .icon-bar {
    display: block;
    width: 30px;
    height: 4px;
    border-radius: 1px;
}

#footer .nav:after {
	clear: none;
}

#footer .nav li.footer-follow {
	font-size: 14px;
}

p, ol, ul {
	margin-bottom: 24px;
}

h2, h3, h4, h5, h6 {
	margin-bottom: 18px;
}

h2 {
	color: #c8102e;
}

.well {
	box-shadow: none;
	padding-bottom: 1px;
}

.well.intro {
    color: #c8102e;
    font-size: 110%;
    border-left: 5px solid #c8102e;
}

.b-white {
  background-color: #fff;
}

.left-red-border {
    border-left: 5px solid #c8102e;
}

.well h2, 
.well h3,
.well h4, 
.well h5,
.well h6,
.well .h2, 
.well .h3,
.well .h4, 
.well .h5,
.well .h6 {
	margin-top: 0;
}

.match-height * {
	line-height: 1.5;
}

.contact-intro .match-height {
  line-height: initial !important;
}




.page {
	padding-bottom: 50px;
}

.submenulink:link {
	display:block;
	color: #505759;
	text-decoration:none;
	vertical-align:middle;
}

#submenu-accordion .list-group-item {
	font-size: 85%;
}

#submenu-accordion .list-group-item a {
	padding-left: 15px;
}

#submenu-accordion .list-group-item .activeside::before {
   content: '';
   display: inline-block;
   width: 9px;
   height: 9px;
   -moz-border-radius: 50%;
   -webkit-border-radius: 50%;
   border-radius: 50%;
   background-color: #ceb888;
    margin-left: -15px;
    margin-right: 7px;
}

#submenu-accordion .list-group-item .activeside {
   pointer-events: none;
   cursor: default;
   color: #505759;
}

.main-content ol li:not(:last-child), 
.main-content ul li:not(:last-child) {
	padding-bottom: 24px;
}

.breadcrumb {
	font-size: 14px;
}

.page .breadcrumb li {
	padding-bottom: 0 !important;
}

.main-content ul li  {
  list-style: none;
}

.main-content ol:not(.breadcrumb) {
  list-style: none;
  counter-reset: li;
   padding-left: 10px;
}

.main-content ol:not(.breadcrumb) li {
  counter-increment: li;
    text-indent: -42px;
    margin-left: 30px;
}

.main-content ul li:before {
	content: '\2022';
    display: block;
    position: relative;
    max-width: 0;
    max-height: 0;
    left: -16px;
    top: -2px;
    color: #c8102e;
    font-size: 28px;
    line-height: 28px;
    vertical-align: middle;
}

.main-content .nav li:before {
	content: "";
	left: auto;
	top: auto;
}

.main-content ol:not(.breadcrumb) li:before {
	content: counter(li) '.';
    display: inline-block;
    position: relative;
    max-height: 0;
    color: #c8102e;
    font-size: 18px;
    line-height: 18px;
    text-align: right;
    width: 2em;
    text-indent: 0;
	margin-right: 6px;
}

.main-content ul li li {
  margin-top: 24px;
}

.main-content ul li li:before {
	content: '\2013';
    display: block;
    position: relative;
    max-width: 0;
    max-height: 0;
    left: -26px;
    top: -2px;
    color: #c8102e;
    font-size: 28px;
    line-height: 28px;
    vertical-align: middle;
}

.main-content h2 {
	line-height: 1.1;
}

.page p + h3, 
.page p + h4, 
.page p + h5, 
.page p + h6,
.page ol + h3, 
.page ol + h4, 
.page ol + h5, 
.page ol + h6,
.page ul + h3, 
.page ul + h4, 
.page ul + h5, 
.page ul + h6,
.well + h3,
.well + h4,
.well + h5,
.well + h6

 {
    margin-top: 40px;
}

.img-left {
	float:left;
	margin: 0 20px 10px 0;
}
.img-right {
	float:right;
	margin: 0 0 10px 20px;
}

.img-margin {
	margin-bottom: 20px;
}

.indent {
	margin-left: 20px;
}

figcaption {
	color: #000;
	font-size: 90%;
}

.edw-tabslider > .pane {
	padding: 20px;
}

.edw-tabslider > .pane:nth-child(odd) {
	background: rgba(137,141,141,.15);
}

.affix ~ .edw-tabslider > .pane {
	padding-top: 54px;
}

.pane .h1:first-of-type,
.pane .h2:first-of-type,
.pane .h3:first-of-type,
.pane .h4:first-of-type,
.pane .h5:first-of-type,
.pane .h6:first-of-type,
.pane h1:first-of-type,
.pane h2:first-of-type,
.pane h3:first-of-type,
.pane h4:first-of-type,
.pane h5:first-of-type,
.pane h6:first-of-type {
	margin-top: 0;
}

.pane h3 {
	padding-top: 24px;
}

.main-content .nav-tabs li,
.main-content .nav-tabs li:not(:last-child) {
    padding-bottom: 0;
    float: left;
    display: inline-block;
    text-align: center;
    width: 20%;
}

.edw-tabs {
	width: 100%;
	border-bottom: 1px solid transparent;
	text-align:center;
	background: #fff;
}

.edw-tabs>li>a {
    background: #898d8d;
	color: #fff;
	padding: 10px 5px;
	vertical-align:middle;
}

.edw-tabs>li>a>span {
    line-height: 1.1 !important;
	vertical-align:middle;
	display: inline-block;
}

.edw-tabs>li:last-child>a {
	margin-right: 0;
}

.edw-tabs>li>a:hover {
   border: 1px solid transparent;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #505759;
}

.nav-tabs>li:nth-child(odd).active>a, .nav-tabs>li:nth-child(odd).active>a:focus, .nav-tabs>li:nth-child(odd).active>a:hover {
    color: #505759;
	background: #edeeee;
}

.affix-top > li.first-tab a {
  color: #505759;
	background: #edeeee;
}

.affix {
    position: fixed;
	top: 0;
	z-index: 900;
    width: 53.6%;
} 

.pdf-download {
	float:right;
}

.pdf-download, .pdf-download:hover, .pdf-download:active, .pdf-download:visited {
	font-size: 20px;
	text-decoration: none;
}

.tooltip > .tooltip-inner {
    background-color: #fff; 
    color: #c8102e; 
    border: 1px solid #c8102e;
    padding: 4px 10px;
	white-space: nowrap;
}

.tooltip .tooltip-arrow {
	display: none;
}

/* Tooltip on top */
.tooltip.top > .tooltip-arrow {
    border-top: 1px solid #fff;
}

/* Tooltip on bottom */
.tooltip.bottom > .tooltip-arrow {
    border-bottom: 1px solid #fff;
}

/* Tooltip on left */
.tooltip.left > .tooltip-arrow {
    border-left: 1px solid #fff;
}

/* Tooltip on right */
.tooltip.right > .tooltip-arrow {
    border-right: 1px solid #fff;
}

/* add 5 column possibility */

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

.text-home-credo {
	text-align:right;
}


/* back to top stuff */


.cd-top {
  display: inline-block;
  position: fixed;
  bottom: 40px;
  right: 10px;
  font-size: 40px;
  /* image replacement properties */
  overflow: hidden;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-top:hover, .cd-top:visited,  .cd-top:active, .cd-top:focus  {
	text-decoration:none;
}

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */

}
.no-touch .cd-top:hover {
  opacity: 1;
}

.business-menu {
	width: 530px;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}


@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

.main-content h2 .btn {
	float:right;
	margin-left: 5px;
}


/* Responsive  ------------------------------------------------ */
/* https://github.com/twbs/bootstrap/issues/11292 --------------------------- */

.text-left-not-xs, .text-left-not-sm, .text-left-not-md, .text-left-not-lg {
    text-align: left;
}
.text-center-not-xs, .text-center-not-sm, .text-center-not-md, .text-center-not-lg {
    text-align: center;
}
.text-right-not-xs, .text-right-not-sm, .text-right-not-md, .text-right-not-lg {
    text-align: right;
}
.text-justify-not-xs, .text-justify-not-sm, .text-justify-not-md, .text-justify-not-lg {
    text-align: justify;
}

@media only screen and (max-width : 767px) {

}

@media (max-width: 991px) {
	.main-content h2 {
    padding: 0 15px;
}

	.main-content {
		padding: 0 15px;
	}
	
	.main-content .breadcrumb {
		padding: 0 15px;
	}
	
	.affix {
		width: 100%;
	}
	
}


@media (max-width: 767px) {

.dot-borders > [class*="col-"] {
	border: none;
}

#home [class*="col-"] p:last-of-type {
    margin-bottom: 24px;
}	

#home [class*="col-"] {
	margin: 10px 0;
}
	
	.home-one {
	background-image: none;
}
#home .container-fluid {
    padding: 20px 15px;
}	
	
	.edw-tabs>li>a {
    font-size: 2.5vw;
}
	
	.edw-media h1, .edw-media h2, .edw-media h3, .edw-media h4, .edw-media h5, .edw-media h6 {
    margin-top: 20px;
	}
    .text-left-not-xs, .text-center-not-xs, .text-right-not-xs, .text-justify-not-xs {
        text-align: inherit;
    }
    .text-left-xs {
        text-align: left;
    }
    .text-center-xs {
        text-align: center;
    }
    .text-right-xs {
        text-align: right;
    }
    .text-justify-xs {
        text-align: justify;
    }
	
	.block-xs {
		display:block;
	}
	

.redboxes, .banner-home .redboxes {
	width: 75.68%;
	height: 83px;
    top: 0px;
    right: 0px;
	left: auto;
}

.edw-logo {
    padding: 0;
    width: 60px;
    margin-top: 16px;
    margin-left: 16px;
}

.edw-mobile-menu {
    margin-top: 7px;
    margin-bottom: 0;
}

.redbox-lg {
    width: calc(100% - 17px);
    height: 66px;
    padding: 10px;
}

.banner-home .redbox-lg {
    width: calc(100% - 17px);
    height: 66px;
    padding: 10px;
}

.redbox-lg h1, .banner-home .redbox-lg h1 {
	font-size: 5.4vw;
}

.redbox-sm {
    width: 17px;
    height: 17px;
}

.banner-home .redbox-sm {
    width: 17px;
    height: 17px;
}

.navbar-edw, .navbar-edw .navbar-header {
	min-height: 53px;
	height: 53px;
}
.navbar-edw .navbar-collapse {
    z-index: 102;
    background: rgba(80,87,89,.9);
	border: none;
}

.edw-menu {
	padding: 0 0 20px 0;
	float:none;
}

.edw-submenu {
	position:relative;
	background: transparent;
}
.edw-menu .edw-submenu li a {
    padding: 2px 30px;
    border: none;
}

.edw-menu > li > a .glyphicon {
	display: none;
}

.edw-menu > li, .edw-menu > li.active-link {
	display:block;
	background: transparent;
}
.edw-menu > li > a:hover, .edw-menu > li.active-link {
	background: transparent;
}

.edw-menu > li > a {
	padding: 6px 0 2px 0;
}

.banner-edw {
    min-height: 33vh;
    height: 33vh;
}

.banner-home {
    min-height: 33vh;
    height: 33vh;
	background: url('../img/home-banner-m.png') no-repeat;
	background-size: 100%;
	margin-bottom: 0;
}

.banner-facilities {
	background: url('/facilities/images/fac-banner2m.jpg') no-repeat;
	background-size: 100%;

}

.banner-overview {
    min-height: 33vh;
    height: 33vh;
  background: url('../img/hvt-overview-mobile.png') no-repeat;
  background-size: 100%;
  margin-bottom: 0;
}

.text-home-credo {
	text-align:left;
}


#footer .nav li.footer-follow, #footer .nav-pages li {
	display:block;
}

#footer .nav-pages li a {
    margin: 0;
}

.stickycontact {
    top: auto;
    bottom: 0;
    transform: none;
    right: 10px;
} 

.stickyform {
	width: 100%;	
}

.stickycontact-btn {
   -webkit-transform-origin: center;
      -moz-transform-origin: center;
       -ms-transform-origin: center;
        -o-transform-origin: center;
           transform-origin: center;
   -webkit-transform: none;
      -moz-transform: none;
       -ms-transform: none;
        -o-transform: none;
           transform: none;
    padding: 0 20px;
    font-size: 20px;
}

.img-left, .img-right {
	float:none;
	margin: 0 0 10px 0;
}


}
@media (min-width: 768px) and (max-width: 991px) {
		.edw-media h1, .edw-media h2, .edw-media h3, .edw-media h4, .edw-media h5, .edw-media h6 {
    margin-top: 20px;
	}
	
    .text-left-not-sm, .text-center-not-sm, .text-right-not-sm, .text-justify-not-sm {
        text-align: inherit;
    }
    .text-left-sm {
        text-align: left;
    }
    .text-center-sm {
        text-align: center;
    }
    .text-right-sm {
        text-align: right;
    }
    .text-justify-sm {
        text-align: justify;
    }
	
	.banner-edw {
	min-height: 310px;
	height: 310px;
}

.banner-home {
	min-height: 450px;
	height: 450px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.6+0,0+100 */
background: -moz-linear-gradient(-45deg,  rgba(255,255,255,0.8) 0%, rgba(255,255,255,0) 33%), url(../img/home-banner.png) no-repeat; /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,0) 33%), url(../img/home-banner.png) no-repeat; /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,0) 33%), url(../img/home-banner.png) no-repeat; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

	background-position: right top;
}

.business-menu {
	width: auto;
}

	
}
@media (min-width: 992px) and (max-width: 1199px) {
    .text-left-not-md, .text-center-not-md, .text-right-not-md, .text-justify-not-md {
        text-align: inherit;
    }
    .text-left-md {
        text-align: left;
    }
    .text-center-md {
        text-align: center;
    }
    .text-right-md {
        text-align: right;
    }
    .text-justify-md {
        text-align: justify;
    }
	

	
}
@media (min-width: 1200px) {
    .text-left-not-lg, .text-center-not-lg, .text-right-not-lg, .text-justify-not-lg {
        text-align: inherit;
    }
    .text-left-lg {
        text-align: left;
    }
    .text-center-lg {
        text-align: center;
    }
    .text-right-lg {
        text-align: right;
    }
    .text-justify-lg {
        text-align: justify;
    }
	

}





